[2014-04-07 14:43] mrdavidlaing opened #3 "Saving Kibana dashboard throws No 'Access-Control-Allow-Origin' header is present on the requested resource."
[Elasticsearch%20Requests](http://kibana-meta-logsearch-io.monitor-cloud.cityindextest5.co.uk/index.html#/dashboard/elasticsearch/Elasticsearch%20Requests) > Save dashboard, JS console shows:

[code]

[2014-04-08 07:53] mrdavidlaing opened #4 "Add ingestor throttle"
Sometimes log files grow at a rate that will overwhelm the cluster.

Rather than causing the cluster to crash killing service for all users, we should just throttle the rate at which data is consumed from each log file.

It looks like the [logstash throttle](http://logstash.net/docs/1.4.0/filters/throttle) filter will make this really easy:

[code]

The throttle rate should be configured via your

[2014-04-08 07:53] mrdavidlaing commented on #4
It would be cool if we could add a "further log events throttled" tag to the last even that wasn't throttle.

[2014-04-08 14:18] dpb587 commented on #4
From an ops perspective, I think this makes the log data significantly less trustworthy. If I start experiencing problems in my application, the logs will presumably spike somewhere and I'll pull up my dashboard to see what's up, but there will be an incomplete picture because an unknown number of log messages are missing. This would make it more difficult to both triage and post-mortem. Additiona

[2014-04-08 15:16] mrdavidlaing commented on #4
Yeah - there are a couple of logs that I don't ship in; because they are in the 4GB / day range.  I've also seen situations where you start shipping in a new log; and get a huge initial spike.

Since logsearch is essentially a shared service; we need a way to protect the whole from a rogue shipper.

I agree that just silently throttling is the wrong approach.

I wonder if there is a way we can thr

[2014-04-08 15:29] dpb587 commented on #3
@mrdavidlaing, are you sure the running cluster has a clean nginx config? This is working fine for me on the local release-4 bosh-lite.

[2014-04-08 15:34] mrdavidlaing commented on #3
no reason not to delete and recreate...

[2014-04-08 15:41] mrdavidlaing commented on #4
Loggly email:

[2014-04-08 15:43] mrdavidlaing commented on #3
[code]

[2014-04-08 15:43] mrdavidlaing commented on #3
Bummer; error still happening...

[2014-04-08 16:51] dpb587 commented on #3
@mrdavidlaing, `sudo chmod o+x /var/vcap/sys` seems to fix the issue (see [diagnosis blog post](http://labs.cityindex.com/labs-team/2014/04/08/chrome-and-cors-error-deception/)). Do you have any ideas why it's different between the meta cluster and the bosh-lite cluster I run locally?

[2014-04-09 07:23] mrdavidlaing commented on #3
I'm going to guess because bosh-lite uses a virtualised container filesystem; and it isn't applying permissions in the same way as a real filesystem.

The thing that jumps out for me is that the nginx worker processes are running as `nobody`, which isn't part of the `vcap` group; and thus probably shouldn't have access to `/var/vcap/sys`

[code]

I think the "fix" is going to be to configure nginx

[2014-04-09 14:40] dpb587 commented on #3
Looks like this is my fault - you had `user vcap vcap` in your [initial commit](https://github.com/logsearch/logsearch-boshrelease/blob/be4b5478f3b99bfb6577ecb79b54d016d05fb71c/jobs/api/templates/config/nginx.conf.erb#L1), but I lost that line when cleaning up the config and bringing it up to date from the other repo.

[2014-04-10 06:14] mrdavidlaing commented on #3
Heh, nice catch :)

[2014-04-12 09:41] mrdavidlaing commented on #3
@dpb587 - has this been incorporated into a BOSH release?

[2014-04-14 13:41] dpb587 commented on #3
No, I thought we said to commit the changes on a release-5 branch and we'd commit the release when we were ready.

[2014-04-14 13:59] mrdavidlaing commented on #3
I think we've miscommunicated.  Why don't you proceed with what you have in mind; and then we can discuss the process.

I think we should have _lots_ of small releases; I don't see any reason to wait and bundle up multiple changes into a single release.

[2014-04-14 16:01] dpb587 commented on #3
Merged and release created.

[2014-04-14 16:01] #3 closed, assigned to dpb587

[2014-04-17 00:47] aristotelesneto opened #9 "Better way to integrate filters"
Hi David,

Would you be interested if I went away and formulated a better way to integrate the filters into the main logsearch-boshrelease, so we don't need to have a separate filter bosh release?

I was thinking about something along the lines of leveraging the pre_packaging / packaging scripts, along with a job that (if configured to do so), would periodically check that the filters are up to da

[2014-04-17 05:10] mrdavidlaing commented on #9
YES!

What we currently have is kinda crummy; so any improvements to the flow much appreciated.

The design goals are:
1.  Deploying logsearch-boshrelease gets you set the set of https://github.com/logsearch/logsearch-filters-common filters
2.  You should then be able to "extend" your logsearch deployment by choosing to add some community filters - eg, https://github.com/logsearch/logstash-filters

[2014-04-17 05:14] mrdavidlaing commented on #9
@wdneto - I've given you commit access to the relevant repo's - please just make your PR branch in the repo itself.  Makes it easier for us to collaborate on PRs.

Please _don't_ merge to master

[2014-04-17 05:23] mrdavidlaing opened #10 "logsearch-filters-{name} or logstash-filters-{name}"
We seems to have two competing names for the filters
- [_logsearch_-filters-common](https://github.com/logsearch/logsearch-filters-common)
- [_logstash_-filters-cf](https://github.com/logsearch/logstash-filters-cf)

Choose and standardise, dernit.

[2014-04-17 05:24] mrdavidlaing commented on #10
@dpb587, @wdneto, @sopel - your 2p please

[2014-04-17 05:25] mrdavidlaing commented on #10
my 2p goes for _logsearch_-filters-{name}

[2014-04-17 05:29] dpb587 commented on #10
FWIW, I initially named it `logsearch-filters-common` because it maintains conventions which are a subset of logstash (e.g. that `@type` will have the log message type).

[2014-04-17 09:06] aristotelesneto commented on #10
Being new, I'm not sure why they are separate repo's or the significance of the numbering scheme (other than the order they are concatenated). The numbering scheme made me think of the very well organised owasp mod security rule set: https://github.com/SpiderLabs/owasp-modsecurity-crs/.  I'd love to be enlightened :)

Having said that though, I'd vote for logsearch-*, regardless of whether they ar

[2014-04-17 09:26] aristotelesneto commented on #9
Cool, thanks. Will make sure the branch is in the logsearch repo.

Upon reading the design goals, the first thing that came to mind was the way buildpacks are now installed into cf as of v166, except without the whole api side of things.

I'll have a play and see what I can come up with.

Did you have any thoughts on a self-updating job or would you rather new rules still be pushed via bosh deploy

[2014-04-17 15:30] dpb587 commented on #10
In theory, the separate repos would make it easier for users to pick and choose the filters they need instead of having one big conglomerate of a filter repo. We have a private repo as well with our business-specific rules. It might be worth reconsidering the separate repo approach in the case of `cf` and `common`.

The numbering scheme allows us to be explicit about the order in which filters are

[2014-04-18 02:24] aristotelesneto commented on #10
Thanks, needing an ability to merge other similarly structured filters sounds reasonable.

I'm aware of the effect of the numbering - I trying to establish whether there was a scheme for which numbers to use for which purpose filter - or is 75-_, 100-_ arbitrary?

[2014-04-18 06:54] mrdavidlaing commented on #9
@dpb587 and I are against a self updating job; since it makes auditing the current state of the system difficult.  I think a solution that requires a `bosh deploy` to be run is the right way to go.

[2014-04-18 19:40] dpb587 commented on #10
Ah, good question. No, they're fairly arbitrary with the current usage following:
- range `00` thru `99`
- our internal repos currently have our log filters named at `50`
- the open source filters are `75`

I think we'll need to formalize and reconsider though. The open source ones as `75` don't really make sense - they'll get applied regardless.

[2014-04-22 14:47] mrdavidlaing commented on #4
Another useful "throttle" would be to limit the number of indexes/shards in the cluster by restricting the earliest timestamp date.

[2014-04-24 11:42] mrdavidlaing commented on #10
I think we're all in agreement that it should be _logsearch_-filters-{name}

[2014-04-24 13:06] mrdavidlaing commented on #9
@wdneto Do you have any code / designs to share for this?

[2014-04-24 17:24] dpb587 commented on #9
I'm going to hack on ideas for this a bit today. I'll update or send a PR within a few hours.

[2014-04-24 18:57] dpb587 commented on #9
My idea was a dud. Thinking a bit more before trying anything further...

[2014-04-24 22:33] aristotelesneto commented on #9
I'll try and get a doc up with some ideas. I'm taking the time on Easter holidays to pack up (I'm moving house soon), so that's in the way a bit.

The main idea was to merge filters as sub modules inside the logsearch boshrelease, and leveraging prepackaging an packaging scripts to run the compilation / tests automatically during deploy.

Sent from my iPhone

[2014-04-25 05:45] mrdavidlaing commented on #9
Would this not require each logsearch-boshrelease "deployment" to have its own fork of the  logsearch-boshrelease; and then create your own releases from your fork?

Would you not end up with release number conflicts when you pulling new upstream logsearch-boshrelease s into your fork?

[2014-04-25 06:02] mrdavidlaing opened #18 "Formalise process for creating new releases"
What should the branching process for creating a final release be?

We want to optimise for continuous delivery - ie, we want regular small changes to be deployed rather than batching them up into periodic releases.

We have third party consumers; who might not want quite so many releases; and definately want to know what changes are in each release.

[2014-04-25 06:16] mrdavidlaing commented on #18
I'm wondering whether Git Flow might not be part of the answer.
1.  `feature-branch` gets new feature
2.  `feature-branch`-PR gets discussion (and possibly an automated build / deploy / test run)
3.  merge to `develop` branch - do your continuous deployment from here, creating and deploying your own `dev-release`s
4.  Weekly commit a new release to `develop`, create a PR to merge to `master` that

[2014-04-25 06:29] mrdavidlaing commented on #18
@wdneto, @dpb587 - comments?

[2014-04-25 16:26] dpb587 commented on #18
What do other bosh repositories do for their processes?

[2014-04-27 07:53] mrdavidlaing commented on #18
https://github.com/cloudfoundry/cf-release seems to be the "canonical" BOSH release

They have a `develop` branch; into which [PRs are merged](https://github.com/cloudfoundry/cf-release/pulls?direction=desc&page=1&sort=created&state=closed)

Those PRs [have the uploaded blobs, but no release](https://github.com/cloudfoundry/cf-release/pull/366/files#diff-0)

I'm kinda confused as to what happens a

[2014-04-27 20:47] aristotelesneto commented on #18
After I started messing with CF, I did enjoy learning about the Pivotal processes. The cf-release have the following branches which are involved in their release pipeline:

[code]

They then leverage tags for when releases are created from the blobs / ready for world consumption, and promoted to master branch and individual commit progress tracked via http://git-pipeline.cfapps.io/

This may be wa

[2014-04-27 21:35] aristotelesneto commented on #9
It would only require a fork if you wanted to include additional filter repositories as submodules, but it shouldn't create numbering conflicts when picking up upstream changes (upstream being the main logsearch-boshrelease+filters). I can see that being undesirable (it was painful to maintain cf-release/dea when bundling additional system buildpacks in cf-release).

I think this can be overcome b

[2014-04-27 22:14] aristotelesneto commented on #10
I just noticed that this means renaming both common as well as cf filters as currently only the repository for the common filters is named after 'logsearch-*'.

I say we still move ahead with it, but just thought I point it out.

[2014-04-28 10:29] mrdavidlaing commented on #9
@wdneto - I can almost guarantee that you are going to want your own custom filters.

@dpb587, @wdneto - you're both converging on the

technique.

I still feel uncomfortable about introducing an external deploy time dependancy (ie, files not coming from the blobstore); it doesn't feel like the "BOSH way".

But implementation wise, its much simpler than separate filter boshreleases.  And that is a

[2014-04-28 17:16] mrdavidlaing commented on #9
## "filter boshrelease" process

#### 1. I want to install a logsearch cluster with extra (a) cloudfoundry filters
1. bosh upload release for logsearch-boshrelease
2. bosh upload release for logsearch-filters-cloudfoundry-boshrelease
3. create deploy manifest with 2 releases, and add extra job templates to existing log_parser

[code]
1. bosh deploy

#### 2. I want to upgrade the cloudfoundry filte

[2014-04-28 17:28] mrdavidlaing commented on #9
## "allowing the job definition to pull additional filters at deploy-time" process

#### 1. I want to install a logsearch cluster with extra (a) cloudfoundry filters
1. bosh upload release for logsearch-boshrelease
2. Add download locations for parsers to `properties:`

[code]
1. bosh deploy

#### 2. I want to upgrade the cloudfoundry filters
1. edit deploy manifest, update download locations

[co

[2014-04-28 17:29] mrdavidlaing commented on #9
And, having written it all down, I'm now convinced that the "allowing the job definition to pull additional filters at deploy-time" process is both easier to implement and to consume.

[2014-04-28 17:30] mrdavidlaing commented on #9
@dpb587, you care to have a go implementing the "allowing the job definition to pull additional filters at deploy-time" process ?

[2014-04-28 17:39] dpb587 commented on #9
I can have a go at it this afternoon or tomorrow.

[2014-04-28 21:23] aristotelesneto commented on #9
As far as I can tell, theres no way to accomplish this without having a requirement for people to maintain their own forks of the boshrelease, or continuously having to bump the release version with filter tweaks (which I'd expect to be a very frequent occurence).

I entirely agree with you that having external dependencies at deploy time, is far from an ideal way of maintaining a distributed syst

[2014-04-29 05:23] mrdavidlaing commented on #9
@wdneto - I'm a bit confused.  Do you have a third solution in mind, or are you talking about the "allowing the job definition to pull additional filters at deploy-time" process - P2 described above?

In P2, [standard filters are a package in the logsearch-boshrelease](https://github.com/logsearch/logsearch-boshrelease/tree/master/packages/logstash-filters-common)

Agreed.

Disagree.  In P2:
- Sta

[2014-04-29 05:46] mrdavidlaing commented on #10
@wdneto, @dpb587 - No advantage to delaying the pain then.  I've renamed all repos to _logsearch_-filters-{name}

Please expect (and fix) the resulting breakages

[2014-04-29 05:51] mrdavidlaing commented on #10
Renaming done.  Let the breakages and fixes flow :scream:

[2014-04-29 05:51] #10 closed, assigned to nobody

[2014-04-29 05:54] aristotelesneto commented on #9
I think we're confusing each other because of a discrepancy in the terminology we're using.

When I say "external dependency", I mean external to the distributed system being managed via BOSH, not necessarily external to the company. But with your definition it does make sense that the only thing needed would be the shift in urls to an internal webserver.

When you say "allowing the job definition

[2014-04-29 05:54] aristotelesneto commented on #9
Do you use IM or something, might be faster to hash this out? :P

[2014-04-29 05:59] mrdavidlaing commented on #18
For now, I propose we implement the following from the Pivotal processes:
- develop: Developers commit to this branch (via PR merges)
- release-candidate: Final releases go here.
- master: PRs containing the final releases from release-candidate that have been successfully deployed

As our continuous delivery pipeline matures, we can fill in the intermediate branches as we see fit.

[2014-04-29 06:06] mrdavidlaing commented on #9
https://www.flowdock.com/app/cityindexlabs/logsearch-community

Make a flowdock account, and I'll invite you to the flow

[2014-04-29 08:16] mrdavidlaing commented on #9
Send the email you registered with flowdock to david.laing@labs.cityindex.com

[2014-04-29 08:17] mrdavidlaing commented on #9
At bosh upload release time you need access to S3 to get all published logsearch-boshrelease packages; (which includes the logsearch-filters-common blobs, the elasticsearch blobs etc)

Yep.  Can't see a way around that.  We should cache the download, so it only happens once.

[2014-04-29 08:53] aristotelesneto commented on #9
I'll try setting something up, and see what it looks like.

[2014-04-29 15:57] dpb587 commented on #18
Is `release-candidate` necessary? When creating a release, wouldn't the dev branch off master, merge develop, create/commit release, push a new branch as a PR, and then let Jenkins QA against that PR?

[2014-04-29 21:19] aristotelesneto commented on #18
How I understood it was:

A dev would branch off develop, and every commit merged in develop.
Tests would run against the develop branch, and promote whatever succeeds to release-candidate.
Releases created from release-candidate branch, and published to master.

[2014-04-30 04:52] mrdavidlaing commented on #18
I'm thinking that rather than creating a new branch, we just reuse `release-candidate` over and over (so multiple "release" PRs `release-candidate` -> `master`).

I think it will make the Jenkins setup simpler:
- PR (new features) from `develop` -> run "unit" tests
- PR (new release) from `release-candidate` -> deploy to real clusters

Initially I think the merge/promotion from `develop` to `relea

[2014-04-30 05:48] dpb587 commented on #18
Okay. You'll need to guide me through the process once for me to properly realize it.

[2014-05-01 12:01] mrdavidlaing commented on #18
I'll run the process on https://github.com/logsearch/logsearch-boshrelease/pull/20 and see how it pans out.
- [x] PR #20 `issue-9` to `develop`; collaborate
- [x] merge PR #20 into `develop`
- [x] Create & deploy dev release to test cluster (meta.logsearch.io)
- [x] Create final release in `release-candidate`; deploy and test
- [x] PR #25 `release-candidate` -> `master` - add changelog notes
- [x]

[2014-05-05 12:48] sopel opened #21 "Verify/Ensure enhanced networking is enabled on 14.04 HVM stemcells once available"
[Enhanced Networking on Linux Instances in a VPC](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/enhanced-networking.html) is a highly desirable side effect when using HVM instances in a VPC:

As just mentioned in https://github.com/cityindex/logsearch/issues/359#issuecomment-42183628, the latter is the case for the _current Amazon Linux 2014.03 and Ubuntu LTS 14.04 HVM images_ and should idea

[2014-05-05 12:52] sopel commented on #21
:information_source: see [Support for AWS Virtualization type 'hvm' ?](https://groups.google.com/a/cloudfoundry.org/d/msg/bosh-dev/p8r9TtlDIjg/oHg_3BFebdgJ) for a related discussion in the BOSH developers group.

[2014-05-06 06:45] mrdavidlaing commented on #21
Pivotal have started [publishing Ubuntu 14.04 stemcells](http://bosh_artifacts.cfapps.io/file_collections?type=stemcells).

[code]

However, these are not yet being promoted as "stable".

@sopel - do you know how we can check for:

[2014-05-06 11:16] sopel commented on #21
Finally, glad to see (HVM images are missing still though, which are a requirement here - we should hopefully be able to simply [do that ourselves](https://groups.google.com/a/cloudfoundry.org/d/msg/bosh-dev/p8r9TtlDIjg/SDtLKG3U0YwJ]) though, if need be).

[Testing Whether Enhanced Networking Is Enabled](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/enhanced-networking.html#test-enhanced-netw

[2014-05-07 06:20] mrdavidlaing commented on #21
On an instance started from stemcell: `bosh-stemcell-2524-aws-xen-ubuntu-trusty-go_agent.tgz` - `Ubuntu 14.04 LTS (GNU/Linux 3.13.0-24-generic x86_64)`

[code]

I think this means that it doesn't have the required driver

[2014-05-08 14:43] mrdavidlaing opened #22 "Fix invalid blobstore credentials"
Michael Tekel says,

[2014-05-08 14:46] mrdavidlaing opened #23 "Publish CF dashboards"
Michael Tekel says,

[2014-05-08 14:51] mrdavidlaing commented on #22
I have a suspicion that the [credentials currently being used](https://github.com/logsearch/logsearch-boshrelease/blob/fecb5e8ac15a4866971ca2dc0268b133adc1bd7d/config/final.yml#L6-L7)

[code]

might have been expired during our recent password changes.

Checking...

[2014-05-08 14:53] sopel commented on #22
Sorry, I had inactivated that key just yesterday due to a resp. inquiry by @ryanholder on behalf of Toby - my analysis of those being not in use turns out to be wrong apparently, I'll reactivate them.

[2014-05-08 14:56] mrdavidlaing commented on #22
Thanks - AWS send moaning emails when you publish AWS credentials on github; even when they are "read only" ones for a specific S3 bucket like this.

@wdneto - you have an idea whether you can publish a BOSH release without having to publish AWS credentials?

[2014-05-08 14:56] sopel commented on #22
The key is active again - ironically I stumbled over the instructions for BOSH maintainers to provide AWS credentials later that day and shortly considered those might be used for this, but didn't follow up, sorry for the disruption.

[2014-05-08 15:02] mrdavidlaing commented on #22
Michael,

Could you check that you can access the logsearch-boshrelease blobs now
that the key has been reactivated, and reply to the Github issue with your
results.

Thanks

David

On 8 May 2014 15:56, Steffen Opel notifications@github.com wrote:

##

David Laing
logsearch.io - build your own open source cloud logging cluster
http://davidlaing.com

[2014-05-08 15:04] sopel commented on #22
For reference, the BOSH credential exposure issue/topic is tracked internally in  https://github.com/cityindex/labs-operations/issues/174.

[2014-05-08 15:29] mrdavidlaing commented on #22
I asked about this on the BOSH mailing list - https://groups.google.com/a/cloudfoundry.org/forum/#!topic/bosh-users/x1Pyb_CZxeM

[2014-05-08 20:11] aristotelesneto commented on #22
You use a private.yml file in the config folder of the release, and add that to .gitignore (so its not published to github). Then you move some of the contents of final.yml / dev.yml into it, like so:

final.yml

[code]

private.yml

[code]

[2014-05-08 20:16] aristotelesneto commented on #22
It's worth noting that encryption_keys would need to be published, as the client also needs to be able to decrypt the files - so not sure how valuable that is.

[2014-05-08 20:19] mrdavidlaing commented on #22
I really just want all the blobs to be public (so encryption doesn't really make sense).

Is there any way to avoid having to publish any keys / encrytion or aws?

[2014-05-08 20:23] aristotelesneto commented on #22
The example above will do just that - you will have a copy of the private.yml file, but only you (or whoever else has "publishing new release rights") - then you publish the rest of the bosh release to github (without the private.yml file), and everyone else should be able to consume the blobs from the blobstore (provided the bucket is publicly accessible).

If you don't want encryption you can ju

[2014-05-08 20:25] mrdavidlaing commented on #22
I shall:

![make it so](http://futureblue.files.wordpress.com/2011/09/keepcalm.jpg)

[2014-05-20 20:40] mrdavidlaing commented on #18
@dpb587, does the process documented above make a bit more sense?

I'm not completely convinced of the need for the `release-candidate` branch; but want to try another release (which is more automated) before making a final decision.

[2014-05-22 04:50] dpb587 opened #26 "collectd python plugin failing"
The python plugin (used by several plugins here) is causing collectd unhappiness...

[code]

This may partially be an artifact of switching to the newer stemcells.

[2014-05-22 06:09] mrdavidlaing commented on #26
I'm pretty sure I saw chatter on the BOSH mailing list saying that newer stemcells will ship with _less_ installed by default.  This might be an artefact of that.

[2014-05-22 16:14] dpb587 commented on #26
@mrdavidlaing, is there a more proper way to installing a dependency on job vms than to add something like this in the control script before starting?

[code]

[2014-05-22 17:07] mrdavidlaing commented on #26
Yes - you should have a separate package that bundles the required files into the bosh-release

The issue with the above is that it won't work on servers with no Internet connection

[2014-05-22 17:11] dpb587 commented on #26
Please point me to an example of how another bosh release does this? The `libpython2.7.so.1.0` depends on several other system modules itself - it seems extremely unfortunate to be hard-coding this sort of dependency outside of real package managers.

[2014-05-22 17:23] mrdavidlaing commented on #26
Ideally we could find another boshrelease which already has a python package, and just crib that.

Otherwise, bosh-gen allows you to make packages from apt-get sources - https://github.com/cloudfoundry-community/bosh-gen#fast-way---reuse-aptitudedebian-packages

[2014-05-22 17:25] mrdavidlaing commented on #26
Aha! - https://github.com/murraju/insightfactory-boshrelease/tree/master/packages/python

[2014-05-22 17:27] mrdavidlaing commented on #26
Or - https://github.com/drnic/gitlabhq-boshrelease/tree/master/packages/python27

A Github search for `boshrelease python` across all repos found these

[2014-05-22 18:59] sopel commented on #26
Because it's such an obvious example, I'd like to mention again that I consider this BOSH approach to package management to be detrimental to the proclaimed goal of being in control of your data center stability and security:

While it is completely sound to insist on having the packages to install to be available locally _and_ as source code in order to achieve complete upstream and internet inde

[2014-05-22 19:11] sopel commented on #26
I said to:

Well, there's actually a reasonable explanation in that very section about [reusing Debian packages](https://github.com/cloudfoundry-community/bosh-gen#fast-way---reuse-aptitudedebian-packages):

[2014-05-22 20:46] aristotelesneto commented on #26
Just to chime in, as James Bayer said on the [Pivotal blog](http://blog.gopivotal.com/cloud-foundry-pivotal/products/remote-dependencies-convenience-risk-and-other-considerations-for-operating-distributed-systems), theres no right or wrong answer - simply tradeoffs to consider.

One of the reasons why I have personally preferred to compile the dependencies as BOSH packages, is that I'm then respon

[2014-05-22 23:18] sopel commented on #26
Thanks for chiming in, that's a helpful cross reference indeed - I do not really buy the _externally hosted package manager_ argument, because you could store Debian or CentOS packages locally just as easily as the source archive, however, the cross distribution argument is a valid one in general, and all the more important for a deliberately and highly portable solution like BOSH.

[2014-05-24 17:19] dpb587 opened #29 "queue_redis cannot be restarted by monit"
You get these sorts of errors...

[code]

When it should be trying to kill something else...

[code]

[2014-05-24 17:22] dpb587 opened #30 "queue_redis is logging not logging to STDOUT"
Instead, it's logging to `/var/vcap/store/queue/stdout`. I suspect it's a misinterpretation of `stdout` in the config value.

[2014-05-27 17:21] dpb587 opened #31 "Allow overriding the number of workers logstash starts"
By default, it's using one worker per CPU. I think it's a good default, but, for better throughput we may want to run it a bit hotter with more workers.

I think we should add a `logstash_parser.workers` property defaulting to `auto` (dynamically derived from CPU), but allow an integer to be explicitly specified.

[2014-05-27 17:22] dpb587 opened #32 "Allow configuring log_parser's idle_flush_time"
By logstash's default it's 1 second, but to make things easier for performance tweaking, it'd be nice if we allowed it to be changed.

[2014-05-28 09:39] mrdavidlaing commented on #31
@dpb587 - Can you envisage a situation where you would not want to "run it a bit hotter"

I think that reducing complexity by avoiding adding another knob to twiddle might be a good idea; so if we can get away with it I'd just increase the number of workers and not add a setting

[2014-05-28 09:42] mrdavidlaing commented on #32
Can you explain how / why you would want to change it during performance tweaking?

[2014-05-28 09:48] #18 closed, assigned to nobody

[2014-05-28 10:05] mrdavidlaing commented on #26
This has been addressed by #27

[2014-05-28 10:05] #26 closed, assigned to dpb587

[2014-05-28 10:08] mrdavidlaing commented on #9
Released as part of #25

Additional filters are now pulled from a Url specified in your deployment manifest:

[code]

[2014-05-28 10:08] #9 closed, assigned to nobody

[2014-05-28 13:14] dpb587 commented on #31
No, but I don't think it's something we can safely hardcode. Our filters are relatively simple, so it's easy to double the workers without noticeably impacting our performance. But, other users may have more complex lookups or external calls which add load that we can't account for in a simple way. I think it'd be better to have a setting for it.

Also, I disagree with "reducing complexity by ...

[2014-05-28 13:17] dpb587 commented on #32
Depending on instance types, disk types, and network topologies users are configuring, it may be more performant to send larger batches of events per connection rather than smaller batches and frequent connections.

[2014-05-29 08:37] mrdavidlaing opened #34 "Bad log message can kill log_parser"
It appears that a bad log message, eg:

[code]

Can cause the log parser to die completely.

We need to:
1.  Find a way to detect when a log parser's logstash process has died
2.  Find a way to resurrect the log parser's logstash process after a fatal crash - perhaps this is something `monit` can do?

[2014-05-29 09:03] mrdavidlaing commented on #32
Since this setting is dependant on `instance types, disk types, and network topologies`; which are definately deployment config concerns, then I agree that it should be a spec setting.

[2014-05-29 09:05] mrdavidlaing commented on #31
I think this is the clincher as to why this needs to be a setting you can change / deployment - its dependant on the complexity of the filters used.

So, :+1: for adding it, along with the sane default

[2014-05-29 13:38] dpb587 commented on #34
No, technically the logstash process does not die. The error occurs within the `elasticsearch_http` output part, and logstash seems to interpret that as an output failure (like the server is gone) so it waits and retries that payload again in a moment, repeatedly. This, of course, causes the internal queues to fill up waiting for the output to flush and eventually the process stops reading from re

[2014-05-29 13:41] mrdavidlaing commented on #34
@dpb587 - I think a validation that adds `tag:_timestamperror` is an excellent idea; and is totally worth the extra CPU cycles.

[2014-05-31 11:12] mrdavidlaing opened #36 "Better handling of disk space errors"
Running out of persistent disk space causes a cascading error
1.  ES indicies are stored on the BOSH persistent volume; and we currently don't have a good way of monitoring this, or automatically purging old data.
2.  ES will stop indexing new data, causing the queue to start backing up.
3.  If the BOSH persistent volume fills up, ES starts logging errors like below, which pretty quickly fill up t

[2014-06-03 02:44] dpb587 opened #37 "Upgrade Elasticsearch past 1.0.1"
This currently utilizes 1.0.1, whereas the latest version is 1.2.0. The primary motivation is to stay relatively up to date. Newer versions also support improved aggregations (although Kibana does not yet use them). Be sure to review the changelog.

[2014-06-03 16:21] dpb587 opened #38 "Include BOSH job/index in elasticsearch attributes"
If possible, we should automatically add the bosh job name and index to the node attributes in the `default.json` elasticsearch configuration file. Then we wouldn't need to configure it separately and we could reuse those values for allocation awareness.

In our setup, `job_name` (elasticsearch_eu-west-1a) would replace our custom `elasticsearch.node.tags.replica_role` (boshrelease_1a).

[2014-06-05 20:25] dpb587 opened #39 "Enable direct document access in nginx proxy"
Primarily for debugging, but it'd be convenient to allow direct access to documents by ID. The regex should probably just allow all `GET`s to `/{index}/{type}/[^_].+`.

For example... this document is being parsed incorrectly...

[code]

[2014-06-05 21:59] dpb587 commented on #34
This issue turned out to be specific to one of our internal parsers, so we added the following failsafe at the end of that parser...

[code]

[2014-06-05 21:59] #34 closed, assigned to dpb587

[2014-06-05 21:59] dpb587 commented on #32
This landed in release 10.

[2014-06-05 21:59] #32 closed, assigned to nobody

[2014-06-05 22:00] dpb587 commented on #30
This landed in release 10.

[2014-06-05 22:00] #30 closed, assigned to nobody

[2014-06-05 22:00] dpb587 commented on #31
This landed in release 10.

[2014-06-05 22:00] #31 closed, assigned to nobody

[2014-06-05 22:00] dpb587 commented on #29
This landed in release 10.

[2014-06-05 22:00] #29 closed, assigned to nobody

[2014-06-06 04:58] aristotelesneto commented on #36
https://github.com/nttlabs/bosh-scaler might be of interest

[2014-06-06 06:23] mrdavidlaing commented on #36
@wdneto - I've been following https://github.com/nttlabs/bosh-scaler with interest; but don't understand how it would help with disk full monitoring / handling.

Could you explain?

[2014-06-08 07:03] mrdavidlaing opened #40 "Expose logstash index settings as spec settings"
The [logstash index settings](https://github.com/logsearch/logsearch-boshrelease/blob/master/jobs/elasticsearch/templates/config/templates/logstash_default.json.erb), eg:

[code]

should be configurable per deployment

[2014-06-08 21:39] aristotelesneto commented on #36
Sorry, I'm thinking too much CF. bosh-scaler picks up things via the /varz endpoint - meaning it wouldn't be applicable to ES servers.

Perhaps we could add a /varz style endpoint to logsearch servers, and leverage some of the existing logic in bosh-scaler.

[2014-06-09 12:53] mrdavidlaing opened #41 "Kibana v3.1.0 requests for .../_mapping/field/... fail with No 'Access-Control-Allow-Origin' error"
Trying to use the new Table / Stats button in Kibana v3.1.0 (eg, [on this dashboard](http://kibana-pr10.apps.cityindex.logsearch.io/#/dashboard/elasticsearch/IP%20Diagnostics%20-%20LIVE) ) fails with:

[code]

![screen shot 2014-06-09 at 11 42 33](https://cloud.githubusercontent.com/assets/227505/3216634/410262fa-efd5-11e3-9c5f-426d7eda6ebc.png)

The request causing this error is for:

[code]

[2014-06-09 12:56] mrdavidlaing commented on #41
[code]

Seems to work, so I think its a nginx proxy config setting

[2014-06-09 14:21] dpb587 commented on #40
I'd like to change this issue a bit and propose...

First, we generalize [`logstash_default.json.erb`](https://github.com/logsearch/logsearch-boshrelease/blob/master/jobs/elasticsearch/templates/config/templates/logstash_default.json.erb) since it still has a few of our specifics in it, like `message_data`. Additionally, we should probably get rid of the `_ttl` default in favor of the runtime-conf

[2014-06-09 21:05] #41 closed, assigned to nobody

[2014-06-10 02:51] aristotelesneto commented on #40
BOSH manifests can leverage in-line ruby code - I generally tend to use that instead of spiff when I'm creating releases, for some dynamism in instance sizing, like so:

[code]

Then further down on the manifest I can do:

[code]

That could possibly be of use if you wanted to read an external json file into the manifest.

Is there any particular reason why those two values are index dependent (lo

[2014-06-10 05:35] dpb587 commented on #40
Woah, I didn't realize manifests were ERB-like. That could be immensely useful...

Regarding `logstash-*`, I don't expect to have different index configurations, but the rest of the config is rather logstash-specific already, so it seems reasonable to keep it all logstash-specific. Additionally, some people might cheat and reuse the cluster for non-logstash things (e.g. [marvel](http://www.elastic

[2014-06-10 05:49] mrdavidlaing commented on #39
Seems like a good idea to me

[2014-06-11 15:42] dpb587 opened #42 "Drop references to cloud-aws - not currently used"
Namely, here: https://github.com/logsearch/logsearch-boshrelease/blob/master/packages/elasticsearch/spec#L8

[2014-06-11 16:11] dpb587 commented on #22
This issue has been hanging around for a while...

I tried adding the following bucket policy to enable public access:

[code]

I tested it out by cloning the repo and dropping the access/secret key from `config/final.yml`. It complained that `encryption_key` can only be used with access/secret key. After getting rid of `encryption_key`, it was able to successfully download the files, but checksum

[2014-06-11 16:24] dpb587 commented on #22
Actually, I don't think this accounted for package blobs. So, it's incomplete.

Also, I did try finding an article walking through this sort of key change... but didn't find anything.

[2014-06-12 05:48] mrdavidlaing commented on #22
@dpb587 - thanks for all the legwork - I think we should proceed; favouring getting it done rather than keeping backwards compatibility.

@wdneto - any tips you could offer here to make the process easier would be much appreciated.

[2014-06-12 14:12] dpb587 commented on #39
I realized generated IDs are allowed to use underscores as the first character which makes it difficult to avoid internal calls in proxy rules (not that `GET` internal calls should be dangerous, but least access has been our convention so far). Given this was only a debugging change and there are other ways to easily lookup a document (e.g. kibana search for `_id:YTLKANrZQ...`, `/{index}/{type}/_s

[2014-06-12 14:12] #39 closed, assigned to nobody

[2014-06-12 17:17] dpb587 opened #43 "Elasticsearch error about "file" appender"
There's an error in the logs about an uninstantiated appender named `file`...

[code]

[2014-06-12 22:18] aristotelesneto commented on #22
Can't say that I've tried doing this before, but the process sounds plausible - I'm not sure what the contents of ~/code is, but I'd assume its all the tarballs required for all the packages (there shouldn't be any other blob, other than package ones+filters?).

This will break backward compatibility only if the access keys are changed, or if trying to upload older releases from the "wrong tag". O

[2014-06-13 05:07] #43 closed, assigned to nobody

[2014-06-13 05:07] #42 closed, assigned to nobody

[2014-06-13 05:07] #38 closed, assigned to nobody

[2014-06-16 06:04] mrdavidlaing commented on #39
Probably the correct call at this stage.

For reference: http://stackoverflow.com/a/19898676/13238

[2014-06-16 21:10] dpb587 commented on #22
Okay, so I've rewritten the configs and blob references to non-encrypted, non-authenticated objects. I've released it as `v13`. I've tested it with a clean bosh-lite VM and clone of the repository. Additionally I've tested it with an existing repository which requires `git clean`ing the `.final_builds` to avoid checksum mismatch errors (documented in the [commit message](https://github.com/logsear

[2014-06-17 14:34] dpb587 opened #44 "Upgrade kibana elasticsearch plugin past 3.0.1"

[2014-06-17 14:40] dpb587 opened #45 "Update logstash past 1.3.0"
Latest stable is currently 1.4.1

[2014-06-17 15:23] mrdavidlaing commented on #22
@dpb587,

in the release notes you say:

I'd quite like to delete those old S3 keys that were published.

Is that possible?

[2014-06-17 15:29] dpb587 commented on #22
Through the bucket policy all objects are now publicly readable, so the old, encrypted blobs are still technically available. I'd imagine AWS will error if it's given an invalid credential, even if their credential is unnecessary for accessing the file.

Given the low priority for supporting access to those releases, I think we should just revoke the key and move along. Highly doubtful somebody wi

[2014-06-17 18:04] dpb587 commented on #22
Status report... I missed a step and am getting checksum errors when trying to upload the release to our boshes. I thought I verified that scenario on my local VM, but it's missing from my notes and I must not have.

Currently working on a fix and then a subsequent release...

[2014-06-17 19:05] mrdavidlaing commented on #22
Agreed.  We'll wait a few weeks and then remove the old releases.

[2014-06-17 20:43] dpb587 commented on #22
Okay... I couldn't figure this out today. With Release 13, the blobs were updated with new blob IDs and new checksums, but the object IDs remained the same. Locally this was fine because we could clear the cache and it could happily re-download and checksum. In the bosh director though, it already has the object ID, but sees that the checksum changed (between encrypted and non-encrypted) so it err

[2014-06-17 21:26] aristotelesneto commented on #22
You can possibly get around pre-existing objects in the director by pushing a new update to the job/packages (ie a newline at the end of a file thats part of the job/package) - this should force bosh to create a new "version". Ugly, but I think it'd work.

[2014-06-18 06:51] mrdavidlaing commented on #22
#46 Is another option - I've manually removed all old blob references; and made a new release name - `logsearch-1`.

The advantages to this approach are:
1.  It makes the "cannot rollback" nature clear
2.  It reduces the number of blobs that need to be downloaded for a fresh setup

[2014-06-20 03:00] dpb587 commented on #22
So, I touched all the packages/jobs (thank you for that suggestion, @wdneto) to coerce new blob references and committed it as `v14` and successfully pushed it out to my VM and both the boshes. I think we should close this and #46.

[2014-06-20 03:28] aristotelesneto commented on #22
:+1:  Glad I could help! :D

[2014-06-20 03:52] aristotelesneto commented on #22
So is release 13 broken? If so, would it be better to reset numbering and re-create/re-tag release 13?

[2014-06-20 03:59] dpb587 commented on #22
It's technically only broken if you're trying to go from <13 to 13. It works fine as a clean, initial deployment. I agree it'd be a bit nicer if it didn't exist at all, but I'd prefer not rewriting tags or history.

[2014-06-20 07:03] mrdavidlaing commented on #22
To clarrify;
1.  You have a `logsearch-N` deployment, where N < 13.
   - trying to updated to `logsearch-13` will fail with blob checksum complaints.
   - skipping `logsearch-13` and going to `logsearch-14` will work fine
2.  Starting with a fresh BOSH, deploying `logsearch-13` works fine, as does upgrading to
   `logsearch-14`
3.  Starting with a fresh BOSH,  deploying `logsearch-14` works fine

[2014-06-20 07:06] mrdavidlaing commented on #22
I see that is exactly what @dpb587 has done already in the [`logsearch-13 release notes`](https://github.com/logsearch/logsearch-boshrelease/releases/tag/v13):

[code]

[2014-06-24 14:56] dpb587 opened #47 "Disable elasticsearch requests.log rotation"
We should disable the elasticsearch [requests log rotation](https://github.com/logsearch/logsearch-boshrelease/blob/master/jobs/elasticsearch/templates/config/logging.yml.erb) in favor of only using `requests.log` and instead let bosh manage the log rotation with its built-in [configuration](https://github.com/cloudfoundry/bosh/blob/master/bosh_agent/lib/bosh_agent/platform/ubuntu/templates/logrot

[2014-06-24 19:59] #37 closed, assigned to dpb587

[2014-06-24 19:59] #44 closed, assigned to dpb587

[2014-06-24 19:59] #45 closed, assigned to dpb587

[2014-06-27 15:37] mrdavidlaing opened #48 "Upgrade to logsearch-filters-common v15"
https://github.com/logsearch/logsearch-filters-common/releases/tag/v15

ADDS support for logs shipped via Syslog from NXLog

[2014-06-27 16:11] mrdavidlaing opened #49 "Update to bosh_cli 1.2619.0 (was 1.2291.0)"
You will need to upgrade your BOSH director to handle the new BOSH versioning scheme

[code]

[2014-06-27 16:12] #49 closed, assigned to mrdavidlaing

[2014-06-27 16:14] mrdavidlaing opened #50 "Package `elasticsearch' has a glob that resolves to an empty file list: elasticsearch/elasticsearch-1.2.1.tar.gz"
[code]

[2014-06-27 16:15] dpb587 commented on #50
Run the commands in the Upstream Blobs wiki page; I haven't uploaded them
to S3.

On Fri, Jun 27, 2014 at 10:14 AM, David Laing notifications@github.com
wrote:

##

Danny Berger
http://dpb587.me

[2014-06-27 16:18] mrdavidlaing commented on #50
@dpb587 Will do; and I'll upload them to S3

[2014-06-27 17:33] #50 closed, assigned to mrdavidlaing

[2014-06-27 17:35] #48 closed, assigned to mrdavidlaing

[2014-06-30 14:23] dpb587 commented on #49
I actually upgraded locally during my efforts of debugging the blob issues and uploaded a couple releases using it. I'm curious... were you required to upgrade locally to deploy after me? It said it was downgrading the release to the older version, so I didn't expect it to be an issue.

[2014-06-30 16:23] #47 closed, assigned to dpb587

[2014-07-01 05:24] mrdavidlaing opened #51 "Zero downtime ES deployments"
@dpb587 asks

[2014-07-01 08:25] mrdavidlaing commented on #51
@wdneto - do you have any ideas here?

[2014-07-01 21:29] aristotelesneto commented on #51
This can be accomplished by combining a couple of things together.

1) Override the global "update:" on the job you only want 1 node to be restarted at a time on the deployment manifest, and set "max_in_flight: 1". This ensures only one node is ever worked on at a time.

2) Setup a drain script for the job.  The way drain scripts work, is that before bosh sends a shutdown command it runs the drain

[2014-07-01 21:33] aristotelesneto commented on #51
[Here is another sample drain script](https://github.com/cloudfoundry/cf-release/blob/master/jobs/dea_next/templates/deterministic_drain.rb), from the DEA.

[2014-07-02 09:20] mrdavidlaing commented on #51
@wdneto - Thanks - these features open up lots of possibilities.

A question:

Consider a deployment spread over multiple AZs, with 1 ES job (with 2 instances) / AZ

[code]

Will this update in the following serial order? `elasticsearch_z1/0` => `elasticsearch_z1/1` => `elasticsearch_z2/0` => `elasticsearch_z2/1` ?

[2014-07-02 13:25] dpb587 commented on #51
@wdneto, I agree it's a very helpful solution - thanks!

@mrdavidlaing, in your example, I was assuming that `serial`/`max_in_flight` was job-specific, so `z1/0` and `z2/0` would both go offline for updates concurrently. It seems like BOSH would require a separate `update.group` sort of setting in order to correlate multiple jobs together into a single update workflow.

[2014-07-02 17:50] dpb587 opened #52 "Add configurable elasticsearch default log level"
It should default to `INFO` and the `DEBUG` lines in `logging.yml` should go away.

[2014-07-02 18:24] dpb587 commented on #52
This will significantly cut down on disk usage.

[2014-07-02 22:02] aristotelesneto commented on #51
@dpb587 it's better to think about the serial option in the global context, as opposed to job specific. The equivalent of 'serial' for a job specific is essentially max_in_flight: 1 and canaries: 1.

If your default option is serial: false, and you have a manifest like so:

[code]

BOSH will start job1/0, job2/0, job3/0 in parallel, each with their respective (or the global) canaries/max_in_flight

[2014-07-02 22:04] dpb587 commented on #51
Oh, interesting; thanks for explaining that.

[2014-07-02 22:09] #52 closed, assigned to dpb587

[2014-07-03 05:57] mrdavidlaing commented on #51
To talk specifics; I propose we change our biggest logsearch cluster's jobs look like this:

[code]

Which should lead to a deployment pattern of:
- ingestor, queue
- api
- log_parser-1a/b/c
- elasticsearch_eu-west-1a/0
- elasticsearch_eu-west-1a/1
- elasticsearch_eu-west-1b/0
- elasticsearch_eu-west-1b/1
- elasticsearch_eu-west-1c/0
- elasticsearch_eu-west-1c/1

Have I interpreted how this works

[2014-07-03 13:44] mrdavidlaing opened #53 "Setting logstash_ingestor.debug throws Unknown setting 'debug' for stdout""
Since logstash 1.4, stdout no longer support the `debug` field.

(jobs/ingestor_syslog/templates/config/syslog_to_redis.conf.erb)[https://github.com/logsearch/logsearch-boshrelease/blob/master/jobs/ingestor_syslog/templates/config/syslog_to_redis.conf.erb#L15-L17] which reads:

[code]

Should read

[code]

[2014-07-03 14:07] dpb587 commented on #53
I fixed the outputs when I upgraded logstash (see `develop` branch), but somehow missed the `relp` input one (committed fix above).

[2014-07-03 16:20] dpb587 opened #54 "Enable collectd disk stats"
We should make sure that collectd is collecting `df` and `disk` metrics so we can keep a closer eye on it.

[2014-07-03 16:56] dpb587 opened #55 "Remove defaulted elasticsearch GC options"
From our past usage, we defaulted garbage collection options for elasticsearch. These shouldn't be the default though due to their typically unnecessary noise in the logs.

[2014-07-03 21:26] aristotelesneto commented on #51
Hrmm, cant say I tried the anti-pattern :-)

That would be mostly equivalent to:

[code]

The pattern would then be:
- ingestor, queue
- api
- log_parser-1a/b/c, elasticsearch_eu-west-1a/0
  - elasticsearch_eu-west-1a/1
- elasticsearch_eu-west-1b/0
  - elasticsearch_eu-west-1b/1
- elasticsearch_eu-west-1c/0
  - elasticsearch_eu-west-1c/1

[2014-07-04 00:51] #54 closed, assigned to dpb587

[2014-07-04 00:51] #55 closed, assigned to dpb587

[2014-07-04 00:51] #53 closed, assigned to dpb587

[2014-07-04 01:29] dpb587 commented on #51
I missed referencing this issue in this commit:

I've added a drain (and [slightly hacky] undrain) script and I'm excited about how it will dramatically help deployments:

It significantly improves recovery times after node restarts (it disables allocations, avoiding the automatic rebalancing which blocked up recovery and caused later rebalancing). It also takes care of scaling down the cluster if

[2014-07-04 17:19] mrdavidlaing commented on #51
@dpb587 This looks very cool; although I'll admit I'm finding it a little difficult to visualise what is going on.

Any chance of a diagram?

[2014-07-06 21:44] aristotelesneto commented on #51
:+1: This looks great!

I'm not entirely familiar with the specific ES settings you're changing via the API, but I assume they mean the following. Forgive me if they already have the intended outcome, and this is simply my ignorance.

[code]

Remove me from selection for allocation of index other than primary ones?

Wouldn't you want to cause all indexes to move, regardless of whether they're prim

[2014-07-07 17:15] dpb587 commented on #51
Here's a general overview to both of your comments which I think will further clarify things...
- indices have 1+ shards to segment all the data
- indices have 0+ replicas - extra copies of the data
- shards are either primaries or replicas - primaries are the "authority" responsible for the data; replicas are copies
- elasticsearch cluster has 1+ nodes - in our case elasticsearch node = elasticse

[2014-07-07 17:58] dpb587 commented on #22
Closing this after finally having a fully successful release without blob issues.

[2014-07-07 17:58] #22 closed, assigned to dpb587

[2014-07-07 18:04] dpb587 commented on #51
Let's move further discussion to the new PR #56 dedicated to this topic and related code changes, but I'll keep this open until the PR is merged and this issue resolved.

[2014-07-07 18:17] dpb587 opened #57 "Drop idea of dedicated "master" vs "develop" branch"
We've shifted away from the original release proposal which started us having a separate `develop` and `master` branch. Now that we're actively using git tags and fast-forward merging `master`, I don't think it makes sense to maintain independent branches.

I'd like to get rid of the separate branches in favor of just using `master`.

If approved, locally you should remove your existing `master` b

[2014-07-07 18:17] dpb587 commented on #57
@mrdavidlaing, are you okay with this?

[2014-07-07 19:02] dpb587 opened #58 "Reconsider how we do logstash filters"
I think our current approach to logstash filter configuration is too fragile. I think `logsearch-boshrelease` should manage the architecture and define the conventions, but have minimal impact on its usage. While the set of filters in `logsearch-filters-common` is convenient to have pre-installed, it becomes very inconvenient to end deployments because it significantly affects how users' events ar

[2014-07-07 19:02] dpb587 commented on #58
@mrdavidlaing, @wdneto thoughts?

[2014-07-08 06:51] mrdavidlaing commented on #58
`logsearch-filters-common` currently contains the following:

**Transport**:
1. 10-syslog_standard.conf
2. 20-nxlog_standard.conf
**Data**:
3. 30-json.conf
4. 75-elasticsearch_request.conf
5. 75-nginx_combined.conf

I think we should remove all but the Transport filters from  `logsearch-filters-common` and then externalised as suggested.

[2014-07-08 13:44] dpb587 commented on #58
I find it difficult to draw the line between transport and message format. For example, nxlog could use the syslog protocol to ship syslog messages (i.e. double encoded), but after nxlog, there's not a syslog parser.

What if we changed things up and made this more a repository of easy to use snippets that can be included by other repos. So, get rid of the numbered prefixes here, then in our inter

[2014-07-08 13:46] dpb587 commented on #58
We'd still use the repo to define a default set of filters, but it'll simply be a `default` directory which prioritizes and symlinks to the files like normal user repos will want to do.

[2014-07-08 14:48] mrdavidlaing commented on #58
What do you think about enabling the selection / ordering of filters to be specified in the deployment manifest?

Eg:

[code]

In this was you can "see" what filters are going to be run, and in what order; and you have quite a bit of flexibility to include and order the filters you are using

We could also default to:

[code]

Which would replicate our current behaviour

[2014-07-08 15:36] dpb587 commented on #58
I'm not a huge fan: this seems quite complex, it doesn't allow for prioritizing across multiple sources, and the configuration can't be reused for integration tests.

I'd rather us (and others) have a directory and/or repo which maintains the full set of filters and their tests. It seems like a better "separation of concerns" approach.

[2014-07-08 23:14] aristotelesneto commented on #57
It may not be my place to say this, particularly since you're responsible for the majority of the commits, but I think it may seem redundant because we are creating releases with each group of commits, and the number of commits isn't that large. Not only that but we're currently manually merging develop back into master (as opposed to CI).

Having said that, I'd still maintain that it's good pract

[2014-07-09 08:13] mrdavidlaing commented on #58
I think what you're proposing then is this:
1.  If you do nothing then your filters default to

[code]

.2. If you want to customise your filters, then you need to create your own filter repo; publish a TGZ somewhere and change your deploy config to:

[code]

You should include `logsearch-filters-common` AND any other public filters you want to use in `vendor/`, but then select which filters you w

[2014-07-09 08:18] mrdavidlaing commented on #58
Thinking about it further, I actually think that in the default case we should still include `logsearch-filters-common` in the bosh-release rather than pulling if from an external url.

This makes it possible to continue to deploy logseach-boshrelease into an environment without internet access.

[2014-07-09 14:15] dpb587 commented on #58
This is what I mean and I'll create PRs across the three repos involved.

[2014-07-09 14:41] mrdavidlaing commented on #58
:+1:

[2014-07-15 13:51] dpb587 opened #62 "Drop type-casting in post-filters"
There are currently some `nginx` type-casting filters from our old repo and very long ago even then. They're not specifically necessary for logsearch.

https://github.com/logsearch/logsearch-boshrelease/blob/master/jobs/log_parser/templates/config/filters_post.conf.erb

[2014-07-15 15:38] dpb587 commented on #58
This has been implemented across the repos. Further refactoring/bug fixes should be a separate issue now.

[2014-07-15 15:39] #58 closed, assigned to nobody

[2014-07-15 16:11] dpb587 commented on #57
We discussed this a bit more in [Flowdock](https://www.flowdock.com/app/cityindexlabs/logsearch/messages/2240347), but we didn't come to a definitive conclusion so @mrdavidlaing says we observe the following for the time being...
1. Delete the master branch
2. Commit to the develop branch (small directly, larger via PR)
3. Use tags to denote stable bits
4. Adding more branches as our CD process gr

[2014-07-15 16:34] dpb587 commented on #23
Since dashboards are dependent on particular sets of filters, it seems like dashboard configs should be published alongside filters. So, in this case, those JSON configs would probably go in [`logsearch/logsearch-filters-cf`](https://github.com/logsearch/logsearch-filters-cf). Perhaps we create a `src/kibana` directory and/or move `snippets` from the top level into `src/logstash/snippets`, existin

[2014-07-15 16:56] dpb587 commented on #21
I ran this against `elasticsearch_eu-west-1c/0` which is running as `r3.2xlarge` from `bosh-aws-xen-ubuntu-trusty-go_agent-hvm@2549`.

[code]

@sopel, can you verify that these results confirm enhanced networking usage? Then I think this issue can be closed?

[2014-07-15 17:22] dpb587 opened #63 "syslog_tls should not require configuration"
Currently it errors with the following if configuration properties are not provided...

[code]

Instead, I believe the `syslog_tls` service should simply not run when the properties are empty.

[2014-07-15 19:20] mrdavidlaing commented on #63
@dpb587,

[2014-07-15 19:24] #63 closed, assigned to nobody

[2014-07-15 21:09] #51 closed, assigned to dpb587

[2014-07-15 23:36] sopel commented on #21
Excellent, thanks for integrating this :)

[2014-07-15 23:36] #21 closed, assigned to sopel

[2014-07-16 14:00] dpb587 commented on #57
In terms of when to denote stable bits, @mrdavidlaing suggests...

Defining milestones and scope is not one of my strengths, so I'll be relying on others to help me figure out when we need a new release/milestone.

[2014-07-16 14:05] dpb587 commented on #57
I've deleted the `master` branch and have made `develop` the default.

I guess we'll just proceed from here, probably revisiting this discussion and @wdneto's points as we get further into automation and CI.

[2014-07-16 14:05] #57 closed, assigned to dpb587

[2014-07-16 14:51] #62 closed, assigned to dpb587

[2014-07-17 01:57] dpb587 opened #65 "Default @type to unknown"
Currently, if an `@type` field is not specified, `@type` becomes `%{@type}` with the interpolation failure. I think it'd be much better to use `unknown` instead.

[2014-07-17 08:08] mrdavidlaing commented on #23
Totally agree.

Excellent idea

[2014-07-17 08:16] mrdavidlaing opened #66 "Create final release 16"
As per https://github.com/logsearch/logsearch-boshrelease/issues/57#issuecomment-49169173, the first step of release 17 is to create a final release for 16.

[2014-07-17 08:17] mrdavidlaing commented on #66
@dpb587, since we've resolved and deployed everything in release 16; and things seem to be running well, can you action this.

[2014-07-17 13:48] dpb587 commented on #66
Created [v16](https://github.com/logsearch/logsearch-boshrelease/releases/tag/v16).

[2014-07-17 13:48] #66 closed, assigned to dpb587

[2014-07-17 17:01] dpb587 commented on #40
I think I'm of the opinion that BOSH should not manage the templates after all. Instead, the user should manage them in whatever way works best for them (most likely a post-step in their BOSH deployment workflow). I have the following reasons...
- these templates affect persistent data and reverting a deployment to a prior configuration with different templates will not revert how elasticsearch ut

[2014-07-18 03:05] aristotelesneto commented on #40
Upon reading your comment, I get the impression that there are two very distinct types of operations that need to be carried out on the production clusters you've been dealing with:
1. Initial deployment / Re-deployment of a cluster, with its stock standard settings
2. Additional modifications to a running cluster (which are not necessarily becoming default for all clusters) required for other pur

[2014-07-18 03:06] aristotelesneto commented on #40
It's worth noting that what I'm saying might be completely crazy and irrelevant, since I'm unfamiliar with the challenges you're currently facing.

[2014-07-18 07:01] mrdavidlaing commented on #40
@dpb587, Since the settings in question are very much about the data you are adding to the cluster (rather than the cluster infrastructure itself), they seem to belong with the `logsearch-filters-???` along with the parsing rules for the incoming data and the kibana dashboards for viewing the parsed data.

What do you think about sticking the common settings inside `logsearch-filters-common`, with

[2014-07-19 14:55] dpb587 opened #67 "Unify ssl_cert vs ssl_certificate property name"
Lumberjack uses `ssl_certificate`, syslog_tls uses `ssl_cert`

[2014-07-21 03:30] dpb587 opened #68 "Customizable logstash index format"
By default, logstash uses the index format of `logstash-%{+YYYY.MM.dd}`, creating a single index per day. However, I think there's a reasonable case for wanting to be able to configure it, depending on the installation requirements:
- for smaller or significantly larger logging requirements, it can be more efficient for both kibana usage and elasticsearch to use a different index date format (e.g.

[2014-07-21 03:32] dpb587 commented on #68
@mrdavidlaing, I don't think this is a requirement within the CI scope, so, if I sent a PR from personal time for this, would you consider it a worthwhile feature to merge?

[2014-07-21 07:20] mrdavidlaing commented on #68
Of course.

I'm interested in your analysis of the circumstances when it makes sense to have different index segmentation.

In the CI use case, access to the last hour of data is more important than access to earlier data, so if changing the index segmentation can assist with that, then its perhaps a feature we can use there too.

[2014-07-21 19:00] dpb587 opened #69 "Scope the auto-added tcp fields"
The `tcp` input automatically adds the following fields to all events:
- `host` - the host/port of the connecting client
- `sslsubject` - the SSL certificate subject of the connecting client when `ssl_verify` is enabled

I think those should automatically be renamed to `@ingestor.remote_host` and `@ingestor.sslsubject`, avoiding any confusion about whether an event's `host` field came from the ing

[2014-07-22 07:06] mrdavidlaing commented on #69
agreed.

[2014-07-22 13:18] #69 closed, assigned to nobody

[2014-07-27 09:45] mrdavidlaing opened #70 "Remove logsearch-boshrelease < v12"
I have de-activated the old `logsearch-boshrelease-public` AWS access keys to stop AWS complaining about their publication in a public repo.

This means that logsearch-boshrelease < v12 will no longer work.

I think we should remove these releases

[2014-07-27 09:46] mrdavidlaing commented on #22
The `logsearch-boshrelease-public` AWS access keys used by logsearch-boshrelease < v12 have been disabled.

See https://github.com/logsearch/logsearch-boshrelease/issues/70

[2014-07-28 20:04] dpb587 commented on #70
I'm not sure what you mean by remove them. If you mean delete the git tags, I'd disagree on git principles that tags generally live forever. Even still, it's not like we can actually, permanently delete the files/keys/commits from our git history, and, given the unlikelihood of someone even being interested in pulling an old version, I think it documents the project with a bit more history and bac

[2014-07-28 21:47] mrdavidlaing commented on #70
The issue is that now that the S3 credentials published with <12 have been deactivated, those releases are "broken".

Consider:

[code]

then

[code]

I'm not really sure whether its better to leave "broken" history, or re-write history.

@wdneto - do you have any thoughts / recommendations on this?

[2014-07-28 21:50] dpb587 commented on #70
I realize they're broken now, but I think we should just move forward and leave them be. Not that it's a vote, but I would unapologetically veto the idea of rewriting history.

[2014-07-28 21:53] mrdavidlaing commented on #70
We could also leave the git history alone; but delete the files `/releases/logsearch-{1-12}.yml` going forward.

[2014-07-28 23:21] aristotelesneto commented on #70
Removing the final releases seem like the only reasonable solution.

[2014-07-28 23:22] aristotelesneto commented on #70
I'd also remove tags <v13, to make it 'harder' for people to choose those versions.

[2014-07-29 21:16] dpb587 commented on #70
I've removed releases and tags ≤12.

[2014-07-29 21:16] #70 closed, assigned to nobody

[2014-08-07 16:29] dpb587 opened #71 "Make elasticsearch/drain less intelligent"
The elasticsearch drain script needs improvement. The recurring problem is that it's frequently told `job_shutdown` in cases where the disk data won't actually be changing (e.g. changing disk size, instance type, IP address) and it causes significant delays in what should otherwise be a quick process. I think the drain script should only/always block until the cluster is green. The case where you

[2014-08-13 22:48] aristotelesneto commented on #71
Sounds like a bug in BOSH worth reporting.

[2014-08-14 12:37] teddyking opened #72 "Elasticsearch disk space"
Hi there,

We (CloudCredo) have recently run into a couple of issues with logsearch regarding elasticsearch and disk space.
I can see from [Issue #36](https://github.com/logsearch/logsearch-boshrelease/issues/36) that you have had some similar problems in the past.

Is there a recommended approach to dealing with this? I've been thinking about extending our logsearch deployment(s) with [curator](h

[2014-08-14 15:48] dpb587 commented on #72
Hi Ed - thanks for taking the time to post! The disk space has been a common issue, and so far we've been using curator, too. Currently, our approach has been non-integrated - scheduling the curator task separately through a stable machine's cron or Jenkins.

But, we'd eventually like to see that cleanup/curator process integrated with the deployment. These are some of the implementation ideas we'

[2014-08-14 20:06] dpb587 commented on #72
Another monit-based idea which only curates when space is limited...

[code]

Wouldn't handle daily calls for index optimization though.

[2014-08-15 07:27] mrdavidlaing commented on #72
I like the above idea which links curating to the actual problem trigger - lack of disk space

Monit also seems to have a CRON like scheduler, so we could also do a daily optimise like this:

[code]

Since monit allows multiple check statements in the monit config for a specific job, we could have a collection of these.

[2014-08-15 08:18] mrdavidlaing opened #73 "Rework queue job to be based on Kafka"
The Logsearch data pipeline currently looks like this:

[code]

The queue functions as:
1.  A buffer to prevent spikes in log volume from overloading the datastore
2.  A buffer to enable the datastore to go offline without loosing ingested data
3.  A source of pipeline throughput metrics

Currently the queue runs on a single node, so is a SPOF, and cannot be upgraded without downtime.

[Kafka](htt

[2014-08-15 12:58] teddyking commented on #72
Hi guys thanks for the feedback!

I was originally hoping to run a curator command as a bosh errand on a recurring basis, but it doesn't look like bosh has the ability to schedule errands to run periodically (yet...).

I also like the look of the monit approach. A nice benefit I can see to this approach is that you wouldn't need to deploy any additional VMs, we could presumably run it as part of t

[2014-08-15 15:30] mrdavidlaing commented on #72
It looks like we're converging on having a curator package embedded inside logsearch-boshrelease.

If I understand bosh errands correctly, this would be the first step towards implemented a curator-errand.

If we choose to go with monit triggering the curator run, a curator package is also required.

So, next step, make a curator package?

[2014-08-17 12:12] teddyking commented on #72
Yep I'd agree with that. A curator package is going to be needed however we choose to run it. I'll let you know if/when I make any progress with this.

[2014-08-18 10:52] sopel commented on #73
:information_source: This details several preceding discussions we had around the subject of integrating [Apache Kafka](https://kafka.apache.org/), which might provide more details regarding the subject matter still accordingly:
- https://github.com/cityindex/logsearch/issues/273 - _Evaluate Apache Kafka_
- https://github.com/cityindex/logsearch/issues/269#issuecomment-30520629 - _Analyze/Implemen

[2014-08-18 12:15] mrdavidlaing commented on #73
@sopel, Excellent; thanks for attaching references to earlier discussions

[2014-09-10 09:57] mrdavidlaing commented on #73
After evaluating Kafka 0.8.1 for 2 weeks, we've decided that whilst the Kafka architecture is an ideal fit for LogSearch, the tooling, documentation and google juice isn't quite mature enough to make running it in production straight forward.

Accordingly, this effort will be put on hold, and re-evaluated in early 2015 once Kafka 0.9 / 1.0 is released

[2014-09-10 09:59] mrdavidlaing opened #74 "Multi-tenant support"
Evaluate merging the multi-tenant functionality from @malston's [multi-tenant fork](https://github.com/pivotalservices/logsearch-boshrelease/tree/multi-tenant) back into master

[2014-09-10 10:08] mrdavidlaing commented on #74
Multi-tenancy can be implemented in (at least) 2 ways in ElasticSearch
1. Index(s) / tenant - eg, `{TENANT_ID}-{YYYY.MM.DD}`
2. Extra `tenant_id` field with forced filter

What are the pros and cons of each strategy?

[2014-09-10 10:12] mrdavidlaing opened #75 "CloudFoundry Service Broker"
A [Cloud Foundry service broker](http://docs.cloudfoundry.org/services/api.html) would make shipping logs from an app hosted on the Cloud Foundry PAAS as simple as binding the CF app to a `logsearch` service; the same as one would bind the app to a database.

This issue discusses the architectural components / changes are required to facilitate this.

[2014-09-14 11:23] mrdavidlaing commented on #74
(2) above could be implemented using ES's [Index Aliases](http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/indices-aliases.html), such that all queries to the alias resolve to queries to an index with an additional filter, eg:

Create alias:

[code]

Use alias:

[code]

automatically adds `"filter" : { "term" : { "tenant_id" : "5242-TENANTID-ef615" } }` to whatever other query

[2014-09-16 23:30] dpb587 commented on #74
I didn't realize filtered aliases were coming to elasticsearch. That will be very useful.

For filtered aliases, I think the difficult part here would be ensuring the aliased indices always exist. Seems like there would need to be a secondary process to manage that.

For multiple indices, an implementation of #68 would be helpful.

[2014-09-22 11:39] rchekaluk commented on #21
I'm curious if anyone on this thread has succeeded in upgrading Ubuntu Trusty ixgbevf from version 2.11.3-k to the ~~[recommended](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/enhanced-networking.html)~~ most recent version 2.15.3.

In attempting to [build ixgbevf from source](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/enhanced-networking.html#enhanced-networking-ubuntu), I've encoun

[2014-09-23 08:20] mrdavidlaing commented on #21
@rchekaluk - I'm afraid we haven't tried, so can't comment

[2014-10-06 22:09] malston commented on #74
In the multi-tenant [PR](https://github.com/logsearch/logsearch-boshrelease/issues/74), I named this property "elasticsearch.index". Would you rather call it logstash_parser.index_format as was mentioned in #68?

[2014-10-07 01:06] malston commented on #74
I could see us potentially supporting both ways with different QoS capabilities delivered by the service plan.  Perhaps, in the most basic plan, we can start by using filtered aliases to provide consumers with a mvp solution. Then we can scale up from there.

I think in some environments, a Logsearch consumer would like to keep their tenant’s logs physically separated because I expect that they wi

[2014-10-07 06:56] malston commented on #75
Here are some initial notes on the implementation for this feature:

What happens when:
1. The [catalog](http://docs.cloudfoundry.org/services/api.html#catalog-mgmt) for logsearch broker is fetched (GET /v2/catalog)
   - Create a [response](http://docs.cloudfoundry.org/services/catalog-metadata.html#example-broker-response) that describes the services and the plans we support. Each service (only 1

[2014-10-09 20:36] malston commented on #75
What do you think of writing the service broker in _GO_? CAT is written in go and has some acceptance tests for [services](https://github.com/cloudfoundry/cf-acceptance-tests/tree/master/services) we might be able to glean some learnings from. The cassandra service broker was written in go and although it's in a private github repository, they might be willing to give us read access to it. Of cour

[2014-10-10 05:24] mrdavidlaing commented on #75
@malston, I've been itching to learn GO for a while; so would be keen.

However, I wouldn't want to attempt to architect something in GO without some kind of template to guide me; so I think the decision hinges on whether we can get our hands on the cassandra service broker

[2014-10-29 02:30] shinji62 opened #81 "Collectd and ES as metrics collector and db"
Hi,

Logsearch package for CF is really good, I want to extend it.
So I am thinking about making collectd to be able to send to an collectd ingestor and by this way put metrics we need into Elastisearch (cpu, mem, network).

Do you think is reasonable ?

Thanks

[2014-10-30 03:03] shinji62 opened #82 "How to use logsearch-filters-cf ?"
How can we inject logsearch-filters-cf ? I cannot find the actual documentation about filters.
Thanks

[2014-10-30 04:03] dpb587 commented on #81
Hi - thanks for the comment. You may be interested in our [logsearch-shipper](https://github.com/logsearch/logsearch-shipper-boshrelease) release. It is intended to be installed on jobs and can forward both logs and metrics to a regular logsearch deployment. By default, it runs collectd and forwards cpu/mem/network/other host stats which you can view in Kibana ([example screenshot](https://github.

[2014-10-30 04:29] dpb587 commented on #82
Seems like we need to work on our documentation. In the meantime, it's probably easiest to get started with the following. We version our `filters.conf` file alongside our `deploy_manifest.yml` and embed it with BOSH's built-in ERB processing.
1. Download our default filters from [./jobs/log_parser/templates/config/filters_default.conf](https://github.com/logsearch/logsearch-boshrelease/blob/devel

[2014-10-30 05:52] shinji62 commented on #81
yes, the only things is you cannot separate collectd from the nxlog package.
It can be nice to make to different job and it's more flexible.

anyway thanks

[2014-10-30 05:52] #81 closed, assigned to nobody

[2014-10-30 05:52] shinji62 commented on #82
Ah thanks !

[2014-10-30 21:19] dpb587 commented on #71
A simpler drain script was implemented in https://github.com/logsearch/logsearch-boshrelease/commit/da41135de44847efa7e5df719bea4ecacaea81e2

[2014-10-30 21:19] #71 closed, assigned to nobody

[2014-10-31 01:24] #82 closed, assigned to nobody

[2014-10-31 01:27] shinji62 opened #83 "Bug in filter_overrides"
I found a strange behavior, If you don't have any specific filter to override "[]" will be written in the final logstash.conf

So I made a small PR to put space instead.

[2014-11-03 21:56] mrdavidlaing commented on #83
@shinji62 - Thanks for the PR!
Would you mind emailing a [signed CLA agreement](https://github.com/logsearch/licensing#signing-the-contributors-license-agreement) to me so we can merge it?

Thanks!

[2014-11-03 23:24] malston commented on #75
@mrdavidlaing I have the beginnings of a [service broker](https://github.com/malston/cf-logsearch-service-broker) that handles the provision and bind api requests for a service. It's very rudimentary. It currently just provisions a logstash agent on a free tcp port and returns the uri to the input stream back to the user in the event of a bind. My thoughts right now are leaning towards eventually

[2014-11-04 02:56] shinji62 commented on #83
Done.
thanks

[2014-11-04 08:45] mrdavidlaing commented on #83
@shinji62 - perfect, thanks.  Welcome to the LogSearch contributors club!

@dpb587, Nothing "legal" standing in the way of this being merged.  Merge away when you're happy.

[2014-11-04 14:39] #83 closed, assigned to nobody

[2014-11-04 16:51] dpb587 opened #86 "Drop collectd job and collectd/python package"
I propose we drop collectd (and python). We're not using it and it really has too limited of a use case to provide much value to anybody (e.g. it's only configurable to send metrics to librato because that's what we needed when we first started). It's also the only thing using the python package which we could then drop as well. I think the general community would be better served by a dedicated c

[2014-11-04 16:52] dpb587 commented on #86
@mrdavidlaing, any objections to doing this when looking for things to do?

[2014-11-04 16:53] mrdavidlaing commented on #86
Agreed.  Goodbye collectd & python

[2014-11-04 19:48] dpb587 opened #87 "Drop logstash_forwarder job and logstash-forwarder package?"
I propose dropping the [logstash_forwarder](https://github.com/logsearch/logsearch-boshrelease/tree/0dc69b4f0dcc88e54c641e45f0bbd4a7ae6f9d2d/jobs/logstash_forwarder) job and the related [logstash-forwarder](https://github.com/logsearch/logsearch-boshrelease/tree/0dc69b4f0dcc88e54c641e45f0bbd4a7ae6f9d2d/packages/logstash-forwarder) package. We [initially created](https://github.com/logsearch/logsea

[2014-11-04 19:49] dpb587 commented on #87
@mrdavidlaing, any objections to doing this when looking for things to do?

[2014-11-09 03:48] cppforlife opened #88 "Cannot create final release 17 from releases/logsearch-17.yml"
It seems that not all artifacts were committed into git repo when final release was created. `.final_builds/jobs/archiver` directory is missing.

[code]

[2014-11-09 04:20] dpb587 commented on #88
Ack, very sorry. Thanks for mentioning it. I've created the tag `v17.1` - please give that a try. I've updated our release checklist to avoid this happening again in the future.

[2014-11-10 10:54] mrdavidlaing commented on #88
@dpb587 - could you drop a link to the release checklist here for posterity please

[2014-11-10 12:57] mrdavidlaing opened #89 "log_parser nodes stop processing messages after cluster is in "yellow" state"
We had an extended outage where the elasticsearch nodes were in the "yellow" state for a few hours.

After the elasticsearch nodes had returned to green, the log_parser failed to start processing messages again (even though the monit `log_parser` & `elasticsearch` processes were reported as being `running`, and there were no error messages (or anything else) in the log_parser logs (`/var/vcap/sys/

[2014-11-10 13:24] mrdavidlaing opened #90 "bosh restart log_parser fails"
Attempting to bosh restart a log_parser node fails:

[code]

SSHing into the node reveals that its the  `logsearch-logs`  or  `logsearch-metrics` job that has failed, eg:

[code]

[code]

always seems to work

[2014-11-10 13:25] mrdavidlaing commented on #90
My suspicion is that this is a startup race-condition.

However, I cannot replicate it with a `monit restart all`; only when doing a restart of the job via `bosh restart`

[2014-11-10 14:20] dpb587 commented on #88
https://github.com/logsearch/logsearch-boshrelease/wiki/Release-workflow

[2014-11-10 15:58] dpb587 commented on #89
I think we should upgrade to elasticsearch/1.4.0 first and see if that helps with this.

I've briefly looked into this before and it seems like elasticsearch hangs onto connections longer than it should during certain cluster discovery operations which makes logstash hang and not retry.

[2014-11-10 16:30] #88 closed, assigned to nobody

[2014-11-10 18:08] dpb587 commented on #90
This seems more likely to be a logsearch-shipper issue given it's the logsearch-metrics process.

[2014-11-11 13:53] mrdavidlaing commented on #89
I'm not convinced that its a problem with elasticsearch, since restarting logstash seems to be what fixed it.

However, I agree that we should do the upgrade first before investigating further.

For posterity; this is what the logs looked like around this incident:

[code]

[2014-11-11 14:09] dpb587 commented on #89
I was proposing that logstash was blocking on a TCP connection waiting for elasticsearch to respond, but elasticsearch had lost track of what to do with that connection in the midst of its health/node shuffles so logstash was just waiting. Restarting logstash would have killed that connection along with the process, so new connections after restart would be made to elasticsearch in a stable state.

[2014-11-11 22:24] dpb587 opened #91 "Upgrade elasticsearch past 1.2.1"
Current stable is 1.4.0

[2014-11-11 23:20] dpb587 commented on #91
Currently the `sonian/elasticsearch-jetty` we're using for request logging is not compatible with 1.4.0. Issue sonian/elasticsearch-jetty#69 documents it; our exact error is:

[code]

I've pushed the WIP to [`elasticsearch-1-4-0`](https://github.com/logsearch/logsearch-boshrelease/compare/elasticsearch-1-4-0) (with sonian disabled). Other than sonian, things seem to be working fine. I tested it on

[2014-11-12 15:25] mrdavidlaing commented on #91
Lets not bother with the index upgrade process.

I think its more important to get the stability benefits of 1.4.0 than keep the sonian request logs.

:+1: for the configurable plugin idea

[2014-12-02 19:55] #91 closed, assigned to nobody

[2014-12-02 20:50] #87 closed, assigned to nobody

[2014-12-02 20:50] #86 closed, assigned to nobody

[2014-12-03 13:40] dpb587 opened #93 "elasticsearch: Too many open files"
I'm getting a `Too many open files` error from elasticsearch on one of my clusters...

[code]

The active ulimit is `4096`...

[code]

It's using more than 100 file descriptors on a single index...

[code]

I was able to temporarily fix it by closing some of the older indices.

The node was running with about 37 indices, 149 shards on an instance with 8 cores, 30GB RAM.

We should probably be sett

[2015-01-22 16:31] dpb587 opened #96 "Drop the repo wiki in favor of docs/"
Currently we only have a few [pages](https://github.com/logsearch/logsearch-boshrelease/wiki/_pages):
- [x] [Dev environment setup](https://github.com/logsearch/logsearch-boshrelease/wiki/Dev-environment-setup) - superseded by logsearch/workspace and existing docs/
- [x] [Monitoring](https://github.com/logsearch/logsearch-boshrelease/wiki/Monitoring) - partially superseded by existing docs
- [x] [

[2015-01-23 19:24] #96 closed, assigned to dpb587

[2015-02-04 21:31] dpb587 opened #99 "Remove unnecessary .gitkeep files"
There are lots of `.gitkeep` files hanging around which aren't serving any purpose. Clean them up.

[2015-02-05 19:55] sopel opened #100 "Update upstream BOSH documentation regarding AWS deployment"
A BOSH deployment is a requirement for deploying this `logsearch-boshrelease` in turn and we are referencing the resp. upstream documentation accordingly. The most relevant part [Bootstrapping an environment / What is MicroBOSH?](http://docs.cloudfoundry.org/bosh/bootstrap.html) has recently seen some love, but [Deploying MicroBOSH to AWS](http://docs.cloudfoundry.org/bosh/deploy-microbosh-to-aws.

[2015-02-11 20:50] Vincent978 opened #102 "Is there a way of specifying multiple redis queues for ingestors and parsers?"
Is there a way of having multiple redis instances configured and have the ingestor failover to use another redis instance if the current redis queue fails.
The functionality needed is as described in logstash redis output: http://logstash.net/docs/1.4.2/outputs/redis

Ideally the config is something like this for the redis output on the ingester:

[code]

The "host" field specifies an array of red

[2015-02-11 21:16] dpb587 commented on #102
Currently, no, it's only accepting a single host string as you discovered. Our redis setup has been reliable for us, so we haven't really need to look into this approach yet and it's not on our roadmap. It does seem like a potentially useful change, however, so if you're interested in sending us a PR with the change we'd be happy to review/merge. A couple more thoughts...

I do like the idea of be

[2015-02-12 08:42] mrdavidlaing commented on #102
@Vincent978 - sounds like a good idea for adressing the current redis SPOF (single point of failure).

Dear future reader,

We're well aware that redis is a glaring SPOF; and we believe that the longterm solution is to switch to a "proper" distributed queue like Kafka.  We started a spike to evalute Kafka - https://github.com/logsearch/logsearch-boshrelease/issues/73 - but decided that the (curren

[2015-02-18 21:48] dpb587 commented on #93
Resolved by #101.

[2015-02-18 21:48] #93 closed, assigned to nobody

[2015-02-18 21:51] #99 closed, assigned to nobody

[2015-02-25 16:06] michaelgrifalconi opened #105 "how can I parse CloudFoundry Logs correctly?"
I get logs like:

[code]

How can I get the ingestor parse correctly the logs?
Do I have to use this config? http://scottfrederick.cfapps.io/blog/2014/02/20/cloud-foundry-and-logstash

If yes, how can I set that config with the Bosh(lite) deploy? Where I have to write it? What I have to change in the manifest?
I'm using the example deploy manifest https://github.com/logsearch/logsearch-boshrelease

[2015-02-25 16:26] mrdavidlaing commented on #105
@tyyko - take a look at the https://github.com/logsearch/logsearch-filters-cf repo - it has as set of filters that you need to parsing CF logs

[2015-02-27 07:38] michaelgrifalconi commented on #105
Thanks for your link, now I know how to add filters, but that cf-filters are outdated and seems to dont work anymore..
By the way, I have another related question, if I would like to have something like that on the logstash config file:

input {
  # file {
  #  type => "syslog"
  # Wildcards work here :)
  #  path => [ "/var/log/syslog" ]
  # }
  tcp {
    add_field => {
      "cf_type" => "app"

[2015-02-27 10:05] mrdavidlaing commented on #105
@tyyko - We've just become aware of https://github.com/cloudfoundry-community/logsearch-boshworkspace, which might help.

Concerning editing an ingestor's logstash config; we don't currently support customising that (mainly for performance reasons, as its more difficult to scale ingestors than parsers).

Could you give us an idea of your requirements; and perhaps we can find a way to do the custom

[2015-02-27 11:06] michaelgrifalconi commented on #105
I'm not using boshworkspace, because on my bosh-lite VirtualBoxVM, I get:
 bosh prepare deployment
Unknown command: prepare deployment

Anyway, It looks like the same as following this guide http://www.cloudcredo.com/how-to-integrate-elasticsearch-logstash-and-kibana-elk-with-cloud-foundry/

My situation:

I get logs like:

[code]

If I try to use the logsearch-filters-cf, (http://pastebin.com/e58

[2015-02-27 11:10] mrdavidlaing commented on #105
@tyyko 2 questions.
1.  Which version of CF are you using?
2.  Are you looking to parse the logs of CF; or the logs of an application running on CF?  (or both?)

D

[2015-02-27 11:43] michaelgrifalconi commented on #105
https://github.com/cloudfoundry/bosh-lite
https://github.com/cloudfoundry/bosh-lite/blob/master/docs/deploy-cf.md

This is what I did to deploy cf, i delpoyed the latest, v200

I would like to parse both CF components and apps, and keep them well separated, like with a tag

Thank you for your help!

[2015-02-27 12:27] mrdavidlaing commented on #105
@tyyko Thanks.  We're quite a CF few versions behind you it seems.

I'm talking with the maintainers of https://github.com/cloudfoundry-community/logsearch-boshworkspace later today; I'll ask them how they're approaching this feed back to.

[2015-02-28 04:18] dpb587 commented on #68
Resolved by #106.

[2015-02-28 04:18] #68 closed, assigned to nobody

[2015-02-28 19:53] mrdavidlaing commented on #105
@tyyko After speaking with the https://github.com/cloudfoundry-community/logsearch-boshworkspace maintainers, it sounds like they are looking to implement exactly what you are after.

The Logsearch team will be collaborating with cloudfoundry-community/logsearch-boshworkspace to help them to achieve what you are after.

I'm going to close this issue in favour of that project.

[2015-02-28 19:53] #105 closed, assigned to nobody

[2015-03-18 14:49] simonjohansson commented on #74
I would love this feature.

Currently in our custom setup we have different logstash inputs for each CF env.

[code]

And we then process logs from all our envs into a single ES cluster.

Would be great to have a logstash_ingestor.tennant property or similar.

[2015-03-20 15:53] dpb587 commented on #74
The following rough spec is from one of our recent discussions of supporting multiple ports. Reposting it here for documentation purposes, but it's not currently on our roadmap of things we're planning to work on ourselves. Happy to discuss this spec or (even better) PRs of it if anyone else needs this functionality enough to work on it themselves.

[code]

[2015-03-31 01:15] dpb587 opened #110 "Failed to build logstash package"
I just tried to deploy the latest dev release to one of my clusters and it failed while building `logstash/ca11b0ef80b83955f6e82f964a0de14df683eb60`:

[code]

[2015-03-31 01:33] dpb587 commented on #110
Oops; ignore. I was using an internet-detached compilation instance and forgot this currently needs internet. Still hoping we can figure out a good way to change that packaging requirement by release.

[2015-03-31 01:33] #110 closed, assigned to nobody

[2015-03-31 04:28] mrdavidlaing commented on #110
@dpb587 - [installing from local .gem files is scheduled for fixing in the logstash 1.5.0GA release](https://github.com/elastic/logstash/issues/2779); so we should be able to do remove this "internet" dependancy during compilation by v19 release.

[2015-04-01 08:09] mrdavidlaing opened #111 "ingestor_syslog (logstash 1.5) only listens on IPv6"
@simonjohansson says:

[2015-04-01 08:11] mrdavidlaing commented on #111
I've been able to replicate this issue on a new AWS deployment.

[code]

A hacky workaround is to [disable ipv6 on the ingestor instance](http://askubuntu.com/a/484487) and then `monit restart all`

[2015-04-01 08:13] mrdavidlaing commented on #111
@dpb587 - Have you seen this before / have any idea how to "fix" it.

I think that the correct behaviour is that the ingestors should listen on BOTH IPv4 and IPv6

[2015-04-01 08:19] simonjohansson commented on #111
Passing "-Djava.net.preferIPv4Stack=true" forces java to listen on tcp4.

[code]

But then we loose the ipv6 support.

[2015-04-01 08:43] mrdavidlaing commented on #111
Interesting, in our meta.logsearch.io environment:

[code]

we seem to also only be listening on IPv6, BUT, we are successfully accepting connections (from nxlog)

[code]

I think nxlog is configured to connect to DNS name - `ingestor.meta.logsearch.io:5514`

Is it possible that we get some automagical DNS -> IPv6 translation? ( I really don't understand how IPv6 works)

[2015-04-01 08:48] mrdavidlaing commented on #111
@simonjohansson, it occurs to me that we are seeing this issue with a "new" shipper - https://github.com/SpringerPE/firehose-to-syslog, and a "new" config - connecting to the ingestor_syslog on the same machine via `127.0.0.1:5514`

Could the failure to use IPv6 be related to either of those?

[2015-04-01 13:20] dpb587 commented on #111
The ingestors are taking advantage of "IPv4-mapped IPv6 addresses". Most OSes are enabled to support IPv4 connections over IPv6 (but not the other way around). For that reason, processes will typically bind to the IPv6 socket and lets the kernel take care of mapping IPv4 connections into the IPv6 space. In Linux you can confirm whether binds processes make will be IPv6 only with `net.ipv6.bindv6on

[2015-04-01 13:28] mrdavidlaing commented on #111
@dpb587 - will attempting connect to 127.0.0.1:5514 work with "IPv4-mapped
IPv6 addresses"?

On Wednesday, April 1, 2015, Danny Berger notifications@github.com wrote:

##

David Laing
logsearch.io - build your own open source cloud logging cluster
http://davidlaing.com

[2015-04-01 13:31] dpb587 commented on #111
Yes. Although note that in the originally pasted quote, it looks like `java` is listening on `514`, not `5514`.

[2015-04-01 13:57] sopel commented on #111
Not sure I see the whole picture here (and tend to agree with @dpb587's explanation and assertion that `tcp` vs. `tcp6` isn't the issue), but it's worth noting that AWS basically still only support IPv4 (few exceptions for edge services like [ELB](http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/using-elb-ipv6.html)), which means using IPv6 for AWS internal communication witho

[2015-04-01 16:42] dpb587 opened #112 "Proposal to slim down default elasticsearch config"
I propose removing the following from [`jobs/elasticsearch/templates/config/config.yml.erb`](https://github.com/logsearch/logsearch-boshrelease/blob/develop/jobs/elasticsearch/templates/config/config.yml.erb#L27-L38):

[code]

And also removing the `elasticsearch.indices.ttl_interval` property as that's the only reference.

Rationale:
1. These were based on our original cluster setup which has sig

[2015-04-02 21:58] dpb587 opened #113 "Update log_parser's elasticsearch configs to mirror the main job"
Right now the main config file is still using the old JSON (which doesn't support `elasticsearch.config_options`) and the logging config file is static (and doesn't support `elasticsearch.logging_options`).

To make them more configurable (and for consistency), have log_parser symlink/copy/reuse the main elasticsearch configs.

[2015-04-06 04:04] ph commented on #110
@mrdavidlaing I'll do more testing in a complete offline workflow, If the plugin doesn't have external dependencies it should work. (re the 1.5.0 GA)

[2015-04-13 19:40] dpb587 commented on #89
Haven't seen this happen in a long time now, so closing. Going to assume something between the major elasticsearch upgrades and changes in how we're pushing data through has fixed it. We can reopen later if that's not the case.

[2015-04-13 19:40] #89 closed, assigned to nobody

[2015-04-13 23:22] dpb587 opened #116 "Should run processes as vcap"
I think we should be running the processes as `vcap`. Some of them (namely elasticsearch) are left running as `root` and that's not great.

We might need to allow logstash ingestors to run as root though since some users might want to bind to lower ports and I don't think logstash is able to drop its privileges once running. Or perhaps make it conditional on the ports they're using, or an optional

[2015-04-16 16:37] #113 closed, assigned to nobody

[2015-04-16 16:38] #112 closed, assigned to nobody

[2015-04-16 16:45] mrdavidlaing commented on #111
Leave this with me to try get a repro environment in place

[2015-05-07 09:59] simonjohansson commented on #111
I should make it clear that when I did my initial findings I were in a VMWare environment, and not AWS.

[2015-05-08 08:33] shinji62 opened #125 "Template are totally out of date"
Hi,
Everyone seems your template are out of date .. not sure job "logsearch still exist".

Does anyone have a uptodate template ?

Thanks

[2015-05-09 07:43] mrdavidlaing commented on #125
@shinji62, sorry - we should really remove the `templates/` folder, since we don't use it.

Take a look at https://github.com/logsearch/logsearch-boshrelease/tree/develop/examples

[2015-05-09 08:12] mrdavidlaing commented on #111
@dpb587, @simonjohansson

I've just installed a new version of logsearch v19 on AWS; and have been able to replicate this bug.

It seems to only surface when https://github.com/cloudfoundry-community/firehose-to-syslog attempts to connect to the `ingestor_syslog`.

I have the ingestor_syslog and the ingestor_cloudfoundry-firehose running on the same node, with ingestor_cloudfoundry-firehose attemp

[2015-05-11 08:41] simonjohansson commented on #111
@mrdavidlaing
I cannot remember the exact details as it were some time ago I tried it out.

But I was not even putting firehose-to-syslog into the equation. I tried sending logs with the logger command diretly to logstash (to the default port given by the release)

Tcpdump showed my packages coming in to the box (over UDP, but not over TCP for obvious reasons :))

[2015-05-11 21:45] #125 closed, assigned to nobody

[2015-05-13 13:29] shinji62 commented on #111
firelog-to-syslog use tcp ipv6 or ipv4 to connect to the syslog http://golang.org/pkg/net/#Dial.

[2015-05-13 15:13] dpb587 commented on #23
Closing - CF-related work has moved to the addon repo: https://github.com/logsearch/logsearch-for-cloudfoundry

[2015-05-13 15:13] #23 closed, assigned to mrdavidlaing

[2015-05-13 15:44] mrdavidlaing commented on #111
I thought I'd seen this error [4 days ago](https://github.com/logsearch/logsearch-boshrelease/issues/111#issuecomment-100446538), but now that I sit down with @dpb587 I can't reproduce it.

I have the `ingestor_syslog` & `ingestor_cloudfoundry-firehose` jobs installed on the same AWS VM, and configured to talk via `127.0.0.1:5514`

Netstat shows me that `ingestor_syslog` is only listening on `tcp6

[2015-05-14 09:03] simonjohansson commented on #111
@mrdavidlaing
My bad, looking trough my history I see that I debugged with nc, and not logger

Fort TCP

[code]

For UDP

[code]

[2015-05-14 13:14] mrdavidlaing commented on #111
@simonjohansson,
Thanks for the further info.

I note that you were using nc to `10.9.0.22` - from which machine were you trying to connect?

Also, are you able to reproduce the issue with the latest [v19 release of `logsearch`](https://bosh.io/d/github.com/logsearch/logsearch-boshrelease?v=19) and [v2 release of `logsearch-for-cloudfoundry`](https://github.com/logsearch/logsearch-for-cloudfoundry

[2015-05-14 13:26] simonjohansson commented on #111
@mrdavidlaing ah, this was to a machine that is long gone in our vSphere env.
I tried to nc from my local machine in that instance, nc to 127.0.0.1 on the machine itself did not work either.

Re trying with latest release I have not tried yet. Ill give it a go!

[2015-05-14 13:39] mrdavidlaing commented on #111
@simonjohansson - Cool, thanks.

Watch out [Mr Heisenbug](http://en.wikipedia.org/wiki/Heisenbug) - @simonjohansson and @mrdavidlaing are on your trail!

[2015-05-14 17:55] simonjohansson commented on #111
@mrdavidlaing

I did a quick test with bosh-lite.
https://asciinema.org/a/0tnglyy48m8pdl7enlczf75v5

Got a log trough, even though

[code]

[2015-05-15 11:15] simonjohansson commented on #111
[code]

http://serverfault.com/questions/444554/what-does-mean-as-an-ip-address-bracket-colon-colon-bracket/452279#452279

So it seems I was just confused by the output of netstat due to lack of networking knowledge, and that this works due to ipv4 -> ipv6 translation.

:: -> listen on any interface, and the translation converts ipv4 to ipv6, and thus it works.

Edit:
Just like @dpb587 commented(b

[2015-05-20 05:53] thansmann opened #128 "Final release 'latest' symlinking broke: logsearch-latest.yml -> logsearch-.yml"
commit 4ec04e9 is missing a version number in the symlink.

[code]

[code]

[2015-05-20 17:57] dpb587 commented on #128
Fixed; thanks!

[2015-05-20 17:59] #128 closed, assigned to nobody

[2015-06-01 16:13] #111 closed, assigned to mrdavidlaing

[2015-06-03 00:15] dpb587 opened #131 "Allow elasticsearch.host property to be an array"
Primarily for readability, but it also would be easier for other deployment manifest tools which can embed existing data.

Confusing...

[code]

Better...

[code]

This was originally a string from when logstash needed to talk directly to a single host rather than to a local elasticsearch process.

[2015-06-04 21:16] drnic opened #132 "Wrap test in an errand"
https://github.com/logsearch/logsearch-boshrelease#testing references a command to run to run some tests.

Could this be packaged into the bosh release (which would have the dependencies & configuration) as an errand?

[2015-06-04 21:37] dpb587 commented on #132
Great idea - I think it probably could. I'm currently working on setting up some Concourse pipelines for this repo and this sort of errand might be very useful there, too.

I'll be sure to comment here if/when I make progress - unless you magically beat me to it with a PR :)

[2015-06-04 21:46] drnic commented on #132
I tried running the task manually but got a DNS error or something. Do I just place in the IPs of the API & ingestor? (Which didn't work) or how do I reference them?

On Thu, Jun 4, 2015 at 2:37 PM, Danny Berger notifications@github.com
wrote:

[2015-06-04 21:58] dpb587 commented on #132
Erm, so I think that command is referring to the `spec` directory which is more than a year old and I've never actually used, so I'm going to guess that command, at least, is broken and out of date. It's one reason we're trying to get a pipeline setup properly.

For what it's worth, when making changes I've simply been manually testing the basic pipeline against a bosh-lite deploy using my system'

[2015-06-05 05:57] mrdavidlaing commented on #132
@drnic, @dpb587 - I wrote these tests way back in the beginning of time when I did the logsearch-boshrelease POC.

Since we never got a build pipeline in place they fell out of use; and should definately be considered as
(a) broken and (b) probably not worth resurrecting.

I think a bosh errand to run some tests is an excellent idea; and propose that we remove these old specs in favour of that app

[2015-06-08 20:38] dpb587 commented on #36
Until a better solution comes along we've been using a bot to periodically check our disk stats (as reported by [logsearch-shipper](https://github.com/logsearch/logsearch-shipper-boshrelease)) and alert us if they pass generic thresholds.

As far as this issue goes, I'm closing it. It's an operational issue - generic among all deployments, not just elasticsearch/logsearch - and it's not something

[2015-06-08 20:38] #36 closed, assigned to nobody

[2015-06-08 21:19] dpb587 commented on #40
Okay, I've been convinced that an errand would be valuable and correct way of managing templates for this sort of thing. This change will provide the following benefits:
- unifying how templates/mappings are deployed to the cluster
- allows both the filters and their respective mappings via index templates to be versioned in the same way
- provides a built-in, automation method for deploying them

[2015-06-08 21:25] dpb587 commented on #90
I've looked into this more and posted to the bosh mailing list about it - http://lists.cloudfoundry.org/pipermail/cf-bosh/2015-June/000182.html. I don't believe we're doing something inherently wrong here, so I'm going ahead and closing this, hoping for a better outcome or at least further insight from that thread.

[2015-06-08 21:25] #90 closed, assigned to nobody

[2015-06-08 21:33] dpb587 commented on #100
Closing this - these are all excellent suggestions and goals, but the issues should be targeted to the upstream resources instead of here since this repository doesn't have control over the changes and we're not directly impacted by the changes.

Upstream candidates: [bosh-docs](https://github.com/cloudfoundry/docs-bosh), [mailing list](https://lists.cloudfoundry.org/mailman/listinfo/cf-bosh).

[2015-06-08 21:33] #100 closed, assigned to nobody

[2015-06-08 21:50] dpb587 commented on #75
Now that we have [logsearch-for-cloudfoundry](https://github.com/logsearch/logsearch-for-cloudfoundry) for CF-specific use cases, I'm closing this issue.

@mrdavidlaing, @malston - if these notes about the service broker are still relevant to your work, please feel free to migrate the information into an issue on that repo.

[2015-06-08 21:50] #75 closed, assigned to nobody

[2015-06-08 21:54] dpb587 commented on #36
Also, we do utilize [curator](https://github.com/elastic/curator), scheduled externally from the deployment, to keep a fairly consistent amount of data within our typical thresholds.

[2015-06-09 02:53] dpb587 commented on #73
Kafka would be cool and seems like it might be a great fit, but there are currently more interesting priorities for us to focus on. Since there are no active plans for us to work on this, nor is this issue causing us problems I'm going to close this.

[2015-06-11 22:37] dpb587 commented on #67
We're deprecating lumberjack, so not going to really worry about this difference.

[2015-06-11 22:37] #67 closed, assigned to nobody

[2015-06-11 22:45] dpb587 commented on #102
Closing, since it's originally opened as a question and we don't have plans to implement. Feel free to open a PR if you come up with a working solution you'd like to share.

[2015-06-11 22:45] #102 closed, assigned to nobody

[2015-06-15 20:56] #116 closed, assigned to nobody

[2015-06-15 20:56] #65 closed, assigned to nobody

[2015-06-15 20:56] #4 closed, assigned to nobody

[2015-06-17 21:13] dpb587 commented on #132
I've created [my first] errand for a simple end to end test which ships, parses, and queries. I updated the [README](https://github.com/logsearch/logsearch-boshrelease#testing) with usage information, but with bosh-lite it looks like:

[code]

Feel free to critique/improve/discuss it further here or in a new issue. And thanks for the motivation.

[2015-06-17 21:13] #132 closed, assigned to dpb587

[2015-06-20 15:03] dpb587 opened #138 "Remove empty syslog fields"
I think our standard syslog filters should drop `syslog_msgid` and `syslog_procid` when their value is `-`. It's just two extra fields that don't need to be stored or reviewed with event messages.

[2015-06-22 19:08] bonzofenix opened #139 "How we should handle ES plugin?"
Hi David,
So I been working on getting 2 plugins on ES for our Logsearch deployment:
https://github.com/royrusso/elasticsearch-HQ
https://github.com/lmenezes/elasticsearch-kopf

I got this working by adding 1 package to the release which is called es-plugins
This way I can specified in my properties:

[code]

Do you think this worth being merged to the main trunk?
If thats the case we would need t

[2015-06-23 05:43] dpb587 commented on #139
Hi there - thanks for starting a discussion (and PR) about this.

Some background... a while ago, we actually did [include](https://github.com/logsearch/logsearch-boshrelease/commit/6112f23e894c10ab94d2b2128012469a6fd0e7e6) the HQ plugin within the release and used it fairly frequently. After a couple months, we shifted to using the [cloud verison](http://www.elastichq.org/app/index.php) of the pl

[2015-06-23 05:49] mrdavidlaing commented on #139
@dpb587 I'm with you on this one - we need to keep the core logsearch-boshrelease as minimalist as possible; otherwise (as we have discovered) we just can't keep everything up to date.

@bonzofenix Our strategy is to create add-on BOSH releases that "extend" core logsearch-boshrelease via co-location as @dpb587 discusses above.

BOSH's support around this area is kinda weak; and we'd love some sup

[2015-06-24 15:33] bonzofenix commented on #139
@dpb587 Thanks for the great advice, we went ahead and created an org-specific release for the plugins. We also have artifactory deployed and we will try to host the files statically there.
@mrdavidlaing you are right. Bosh does not support this use case elegantly. We will talk with pivotal to see if there is something on the roadmap on this. If not we will go ahead and open a discussion on the ma

[2015-06-24 15:33] #139 closed, assigned to nobody

[2015-07-07 14:37] dpb587 opened #142 "Disable redis snapshotting"
It [appears](https://github.com/logsearch/logsearch-boshrelease/blob/340fc310eb92beff14b686f2f4061ce13ef8b3cc/jobs/queue/templates/config/redis.conf.erb#L142-L144) like we have it enabled, but we should only be relying on the AOF persistence method. Disabling RDB will reduce write ops, particularly during outage and spiked queue scenarios.

[2015-07-08 18:47] dpb587 opened #145 "Improve kibana job's PID file"
The PID file for kibana is managed by the kibana process, but that PID file is not written until kibana has gone through its own startup steps. In particular, if a cluster is not fully started, kibana will block with `Elasticsearch is still initializing... Trying again in 2500 seconds` before it has written the PID file. This causes monit to think the process has not started yet and it will start

[2015-07-13 16:33] dpb587 commented on #40
This was resolved by PR #144

[2015-07-13 16:33] #40 closed, assigned to nobody

[2015-07-13 19:22] dpb587 opened #146 "Consider monitoring shard state statistics"
For example, something like the following would be useful for monitoring the cluster during deployments. It would also make it possible for us to alert on a threshold/duration of unallocated shards which would indicate a problem.

[code]

[2015-07-17 06:40] #142 closed, assigned to nobody

[2015-07-19 04:59] acrlewis opened #153 "Error 40001: Required property `name' was not specified in object ({})"
I tested this with spiff version 1.0.6 and 1.0.7

[code]

From the logsearch.yml manifest generated, the api job has the following:

[code]

This results in Error 40001: Required property `name' was not specified in object ({}) when trying to deploy.

[2015-07-20 06:37] mrdavidlaing opened #155 "Graceful shutdown for log_parser and ingestor_* jobs in Logstash 1.6"
There is some ongoing work for Logstash 1.6 concerning graceful shutdown - https://github.com/elastic/logstash/issues/3451

When upgrading, we should also ensure that we send the `TERM` signal on shutdown (followed by `KILL`) to give Logstash the opportunity to shut down gracefully.

See the `.deb` package for an example - https://github.com/elastic/logstash/blob/master/pkg/logstash.sysv.debian#L1

[2015-07-20 06:45] mrdavidlaing commented on #155
@dpb587 - Currently we [shutdown the log_parsers with a call to `kill_and_wait`](https://github.com/logsearch/logsearch-boshrelease/blob/develop/jobs/log_parser/templates/bin/log_parser_ctl#L70); which I assume sends a `KILL` signal.

However, I note that we appear to have ["graceful shutdown` messages in the logs.](http://kibana4.meta.logsearch.io/#/discover?_g=%28refreshInterval:%28display:Off,p

[2015-07-20 13:30] mrdavidlaing commented on #155
So.. the default `kill` is a `TERM`, so we're already doinging a graceful shutdown - see https://github.com/logsearch/logsearch-boshrelease/blob/develop/jobs/log_parser/templates/helpers/ctl_utils.sh#L73

Nothing to see here.  Move along

[2015-07-20 13:30] #155 closed, assigned to nobody

[2015-07-20 16:19] yatzek-zz commented on #145
+1

[2015-07-21 04:15] mrdavidlaing commented on #145
@yatzek Any chance of a PR for this from you?

[2015-07-22 14:27] sapakl commented on #145
+1

[2015-07-22 14:29] msaliminia commented on #145
+1

[2015-07-23 16:20] #145 closed, assigned to nobody

[2015-07-24 14:21] dpb587 commented on #153
Closing - fixed by #158

[2015-07-24 14:21] #153 closed, assigned to nobody

[2015-07-29 16:19] dpb587 commented on #72
@bonzofenix, @malston - fyi, here is where we were discussing curator and purging old indices.

[2015-08-02 08:04] mrdavidlaing commented on #73
Re-opening since this topic keeps coming up.  We're not actively working on this; but it definately still seems like the correct thing to once fixing the queue makes it to the top of our backlog

[2015-08-03 11:02] mrdavidlaing opened #161 "Occasional "failed to flush outgoing items" from parsers when deploying new filteres"
Very occasionally when deploying new filters to the parser nodes, one of them will throw the following errors during the restart sequence:

[code]

This seems to be a timing issue where the local elasticsearch process shuts down before logstash process  -
https://github.com/logsearch/logsearch-boshrelease/blob/develop/jobs/parser/monit

We should be able to fix it using a monit `depends on` direct

[2015-08-03 21:01] bonzofenix commented on #72
@dpb587 just started working on this. We will go ahead and implement it as a job and try to use the cron feature of monit.

[2015-08-03 22:09] dpb587 commented on #72
Great - keep us posted

[2015-08-04 08:09] teddyking commented on #72
It looks like I actually started working on this a while ago: https://github.com/teddyking/logsearch-boshrelease

I can't remember how far I got, and it's probably out of date by now but I thought I'd link it here for reference.

[2015-08-04 09:46] mrdavidlaing commented on #72
@teddyking - awesome - looks like you solved the difficult problem of all the curator python dependancies - https://github.com/teddyking/logsearch-boshrelease/commit/787c20e593ec906def658d032c5b490917530f30

I like the _way_ you have configured curator - https://github.com/teddyking/logsearch-boshrelease/commit/003d1760945c2c20d30502efa19b964fd14d6147 - but I don't think it should be _part_ of the

[2015-08-04 09:52] mrdavidlaing commented on #72
Hmm.  Just noticed why @teddyking co-located with the `elasticsearch` job; so the `curator` run can be triggered by monit detecting low disk space.

For the first version of this feature, I think we should just stick with the simpler `curator` CRON approach that does a nightly purge of all indices older than `retention_period` days.

[2015-08-04 10:11] pako-grape opened #162 "Kibana - where it is?"
Hi
I' ve deployed logsearch-boshrelease v21 on aws and everything is ok - elasticsearch is collecting logs.
curl 10.10.7.10:9200/_cat/indices?v   shows that there are logs, but how to see these logs?
And main question how to access Kibana?
I will be really grateful if someone show me the way where to find Kibana...

[2015-08-04 15:13] dpb587 commented on #162
You'll find kibana 3 is installed at http://10.10.7.10:9200/_plugin/kibana/ as an elasticsearch plugin, or kibana 4 available on port 80 of whatever job you deployed the [`kibana`](https://github.com/logsearch/logsearch-boshrelease/tree/develop/jobs/kibana) template to.

[2015-08-04 18:24] #161 closed, assigned to dpb587

[2015-08-05 07:17] pako-grape commented on #162
Thank you very much for fast response:)
In deed there is Kibana 3, but maybe you know how to access it from outside? Not by private ip address...
Anyway thanks for your response again searching for it was very tiring:)

[2015-08-05 07:54] mrdavidlaing commented on #161
@dpb587 That was a lot simpler than I expected.  :+1: for [monit's comprehensive handling of dependancies](https://mmonit.com/monit/documentation/monit.html#SERVICE-DEPENDENCIES), and :+1: to you for using them :)

[2015-08-05 14:11] dpb587 commented on #162
If you need to access it by hostname or public IP, you'll need to configure it for that in your deployment manifest and DNS services - for that sort of thing you'll need to reference the BOSH documentation.

[2015-08-06 06:14] pako-grape commented on #162
Ok, thanks for help.

[2015-08-06 06:14] #162 closed, assigned to nobody

[2015-08-11 19:16] bonzofenix commented on #72
@mrdavidlaing @teddyking @dpb587 -  We got as far as getting curator package with its dependencies installed with pip and a python3 package.
Unfortunately we run into a problem ([see thread](https://lists.cloudfoundry.org/archives/list/cf-bosh@lists.cloudfoundry.org/thread/AXSGBURLS5TK4SG43G5PWUJTDO2XSGPW/)) .
Till we solve this we think the best approach, is to make it as an errand and wait for c

[2015-08-11 19:45] dpb587 commented on #72
I'm okay with the errand type approach for now - you've taken care of the hard part of getting everything packaged up nicely, so we can refactor the scheduling side of things based on the list recommendations later. If you're in a mood to automate though, a couple alternatives to consider...

**Utilize the host's crond.** We use this with the [archiver job](https://github.com/logsearch/logsearch-b

[2015-08-12 14:22] petar-petrov-sap opened #165 "Kibana 3.1.0 still present"
Hi,

Is there a specific reason to install both Kibana 4.1.1 and the old 3.1.0 ?  The latter gets installed under job elasticsearch while the former is a dedicated job which was added in release v21.

If the old Kibana is not needed I can propose a git change to remove it.

Kind regards,
Petar Petrov

[2015-08-12 14:28] petar-petrov-sap opened #166 "Ports 5601 and 9200 accessible from outside the elasticsearch VM"
Hi,

Current setup for elasticsearch_master VM is to have 3 jobs:
- api (nginx)
- elasticsearch
- kibana

The nginx serves as an HTTP proxy for elasticsearch and kibana.  However ports 5601 (kibana) and 9200 (elasticsearch) remain open to the outside net (bind to 0.0.0.0).  Furthermore, what is the point of having elasticsearch accessible via "api.*" URL from outside?  I think the whole configurat

[2015-08-12 14:39] petar-petrov-sap opened #167 "elasticsearch_master fails when minimum_master_nodes is set to >1"
Hi,

Since adding kibana 4.1.1 as a separate job in elasticsearch_master it can no longer be used in cluster environment because the following happens:
1.  When installing the deployment for first time, elasticsearch_master_z1/0 is being created.  The VM contains 3 jobs: api, elasticsearch and kibana.
2.  Elasticsearch job and api job get started, monit shows them as running.  Kibana is waiting fo

[2015-08-13 06:27] mrdavidlaing commented on #72
@bonzofenix, @grayisgreat, @dpb587,  After consideration, I'm against shipping this as an errand.

I think its better to go with using host's crond, as per the archiver job, and then upgrade that to something better if / when that materializes.

Otherwise we force users to figure out a way to schedule running of an errand (a non trivial task); and then have them throw that work away once we move t

[2015-08-13 21:02] dpb587 commented on #165
Hi - thanks for the question. We still use Kibana 3 for some things (in addition to 4), so we don't have intentions of removing it in the near future. Preinstalling it as an elasticsearch plugin shouldn't be causing any issues, but let us know if it is for some reason.

[2015-08-13 21:20] dpb587 commented on #166
A few things to answer here...

First, in general, we bind ports to all interfaces to avoid complications in complex networks. We assume you will be using virtual firewall rules to restrict traffic within and external to the cluster. This is because deployments can vary in security requirements and we can't fully codify the release to meet everybody's needs, instead favoring you utilizing your clo

[2015-08-13 21:41] dpb587 commented on #167
Some background... kibana4 will not start successfully if elasticsearch is unavailable (because kibana needs to load and utilize configuration from elasticsearch). This is why kibana startup is blocked by the health check of elasticsearch in the control script. If you know this kibana behavior has changed, do let us know.

With that in mind, I consider the scenario you're describing to be expected

[2015-08-14 04:30] bonzofenix commented on #72
@mrdavidlaing @dpb587 @teddyking We went ahead and use the crond on the host machine. it is working, we are doing some code refactoring and the pull request should be there tomorrow.

[2015-08-14 08:39] mrdavidlaing commented on #72
@bonzofenix :guitar: on!

[2015-08-24 13:50] mrdavidlaing opened #172 "Upgrade to Logstash 1.5.4"

[2015-08-25 09:38] yuanzhao opened #173 "test_e2e_errand fails when correct filters not deployed"
In the test_e2e_errand job,

[code]

When I was trying to run this command "curl -s '<%= p('test_e2e_errand.elasticsearch_hostport') %>/_all/sample-logs--repo-commits/_search?size=1024&pretty' > curl.out", I got the following result, the total hits number is 0, but 30 is expected.

[code]

But if I ssh to the errand job instance, I can find the sample-logs/repo-commits/messages.log file.

[2015-08-25 09:42] mrdavidlaing commented on #173
@yuanzhao, thanks for this bug report.  Could you let us know:
1.  Which version of logsearch-boshrelease you are using?
2.  What environment you are deploying to (e.g., BOSH-lite or AWS)

Thanks

[2015-08-25 09:51] yuanzhao commented on #173
I am using the version 21 and the environment is aws

[2015-08-25 15:49] mrdavidlaing commented on #173
@yuanzhao - we fixed some issues with the `test_e2e_errand` in v22 -  https://github.com/logsearch/logsearch-boshrelease/commit/4d58bb7fa0527faf264ff0e47deb68f459584852

Please could you try upgrade to that and check whether you see a similar issue

[2015-08-26 16:37] dpb587 commented on #173
Please make sure that you've included the correct logstash parser rules which extract fields and index type, otherwise you'll see the messages in a query to `/_all/_search`, but not in `/_all/sample-logs--repo-commits/_search` as the test expects. The `bosh-lite.yml` template configures the sample filters [here](https://github.com/logsearch/logsearch-boshrelease/blob/develop/templates/bosh-lite.ym

[2015-08-26 16:38] #166 closed, assigned to nobody

[2015-08-26 16:38] #165 closed, assigned to nobody

[2015-08-26 16:39] dpb587 commented on #167
@mrdavidlaing, thoughts?

[2015-08-26 16:48] dpb587 commented on #72
Thanks everyone for the discussion and time on this. We've merged in a curator cron job via PR #170 (from @bonzofenix, @cloud-dude, et al) which will be included in the next logsearch release.

[2015-08-26 16:48] #72 closed, assigned to nobody

[2015-08-26 20:35] dpb587 commented on #172
Still causing problems...

[code]

I verified that `jdk.tls.disabledAlgorithms` was commented out in `/var/vcap/packages/java8/lib/security/java.security`. Additionally I tried uncommenting it with an empty value in case commented made it use the built-in defaults.

Searching more, I found the following [comment](https://github.com/elastic/logstash/issues/2328#issuecomment-128844578)...

And was t

[2015-08-26 20:51] cloudcredo-slack commented on #172
Most BOSH releases use the rsyslog baked into the stemcell for syslog
forwarding.

Does that support a compatible version of syslog?

Is switching from nxlog to rsyslog feasible?

On Wednesday, August 26, 2015, Danny Berger notifications@github.com
wrote:

[2015-08-26 20:59] dpb587 commented on #172
I originally used nxlog given our usage of it elsewhere and because it easily supported the dynamic fields/tagging of log messages which I think is much more complicated with rsyslog. It's not a switch that I'd be able to finish, test, and deploy by end of week, at least. I agree dropping nxlog for fewer dependencies would be convenient; it just hasn't been a necessity or priority.

You should rem

[2015-08-27 05:12] mrdavidlaing commented on #172
@dpb587 - Thanks for the analysis.

Given that switching to rsyslog isn't feasible given time constraints, what about upgrading to the binary version of nxlog 2.9?  The nxlog 2.9 binaries are available from http://nxlog.co/products/nxlog-community-edition/download.

You could release a Ubuntu 14 only dev release of logsearchshipper this week whilst I poke NxLog again about releasing the 2.9 source

[2015-08-27 05:24] mrdavidlaing commented on #167
@dpb587, @petar-petrov-sap - The way that Kibana starts up and checks for elasticsearch being available will be overhauled as part of the Kibana 4.2 release.  I'd advise not making any changes until we know how that behaviour will change.

Until then, we should change our example templates ( [bosh-lite](https://github.com/logsearch/logsearch-boshrelease/blob/develop/templates/bosh-lite.yml#L37) an

[2015-08-27 05:34] mrdavidlaing commented on #173
@dpb587 - Can we remove the need to include the additional `src/sample-logs/repo-commits/logstash-filters.conf` filters in the logsearch cluster being tested?  I suspect many people will fall into this gotcha.

Would it not be possible to change the search based on the `sourcehost` field added by the [`test_e2e_errand`](https://github.com/logsearch/logsearch-boshrelease/blob/develop/jobs/test_e2e_

[2015-08-27 08:04] petar-petrov-sap commented on #167
Currently we benefit from the fact that Kibana and Elasticsearch are on the same VM, see #166  Splitting them does not fit to our setup.

[2015-08-27 09:23] mrdavidlaing commented on #167
@petar-petrov-sap - you can keep the nginx proxy to Kibana on the same api box; whilst still hosting Kibana on a different VM to get around the startup issue.

I'm afraid we can't think of a better short term solution to this issue.

[2015-08-27 13:03] #138 closed, assigned to dpb587

[2015-08-27 13:06] dpb587 commented on #173
It's supposed to be an end-to-end test, so I think it's appropriate to require filters to be configured. Otherwise it's not really testing all the stages and basic features of logsearch. We could add a more explicit note referencing filters to the testing section of the readme though.

[2015-08-27 18:38] dpb587 commented on #172
https://github.com/logsearch/logsearch-shipper-boshrelease/commit/4dd8e0350b8c07260d87d83061b7092fbafc962d has nxlog 2.9 for Ubuntu 14

[2015-08-28 13:08] #172 closed, assigned to dpb587

[2015-08-31 14:36] fbonelle opened #177 "Bosh compilation of curator package should not need internet access"
When deploying version 23.0.0, we get an error while bosh is compiling curator package.

It appears that to build curator job, some download is required. But in case of corporate network, it should not be necessary to download on internet packages.

[code]

[2015-09-10 14:36] axelaris opened #178 "Parser job on v23 crashes on start (with rabbitmq input configured)"
Hi guys,
I've just updated my deployment to v.23.0.0 (release) and it's **parser** job now fails to start.
Here is output of parser.stderr.log:

[code]

To reproduce this issue, I've tried to run Logstash manually, and realised that there are no such issue if I run Logstash w/out **chpst**: `bin/logstash agent -f config/logstash.conf`. When I try to run a full call: `chpst -u vcap bin/logstash age

[2015-09-10 15:58] mrdavidlaing commented on #178
@axelaris - is it possible that one of the files in the logstash `/var/vcap/packages/logstash/` package is not owned by the `vcap` user?

[2015-09-11 08:52] axelaris commented on #178
Hi @mrdavidlaing,
as I can see, all files under `/var/vcap/packages/*/` are owned by `root` user:

[code]

I've recreated a job from scratch to make sure my experiment is clean. So these permissions is seems by design.

[2015-09-11 10:58] mrdavidlaing commented on #178
@axelaris we made an explicit decision to run things as `vcap` a few releases ago as part of  https://github.com/logsearch/logsearch-boshrelease/issues/116 - (see https://github.com/logsearch/logsearch-boshrelease/commit/dac0f77b0ee4f3b772636b841a54d36a1cdc1178) although as you can see at the time we were a little unsure of the consequences of doing this with `logstash`.

From a security perspecti

[2015-09-11 11:36] axelaris commented on #178
Thank you for suggestion, @mrdavidlaing.
I found the root cause - `logstash/vendor/bundle/jruby/1.9/gems/march_hare-2.11.0-java/lib/ext/rabbitmq-client.jar` had a **640** permission.
Also described here: https://github.com/elastic/logstash/issues/3781

[2015-09-11 11:43] mrdavidlaing commented on #178
@axelaris How do you suggest we proceed?  Do we just need to wait for the next logstash release?

[2015-09-11 12:30] axelaris commented on #178
I see two possible solutions here:
1. Add `chmod 644 vendor/bundle/jruby/1.9/gems/march_hare-2.11.0-java/lib/ext/rabbitmq-client.jar` after this line: https://github.com/logsearch/logsearch-boshrelease/blob/develop/packages/logstash/packaging#L9
2. Add `bin/plugin update logstash-output-rabbitmq logstash-input-rabbitmq` before (or after) this line: https://github.com/logsearch/logsearch-boshreleas

[2015-09-11 12:34] mrdavidlaing commented on #178
@axelaris - could you submit a PR to implement 1 please

I'll update the V23 release notes

[2015-09-11 13:10] axelaris commented on #178
https://github.com/logsearch/logsearch-boshrelease/pull/180

[2015-09-11 15:33] #178 closed, assigned to nobody

[2015-09-14 06:37] mrdavidlaing opened #181 "Prevent elasticsearch from using swap"
Although we set [`bootstrap.mlockall: true`](https://github.com/logsearch/logsearch-boshrelease/blob/develop/jobs/elasticsearch/templates/config/config.yml.erb#L1) in the elasticsearch config, it doesn't appear to be working, since I get the following WARN in the elasticsearch node logs:

[code]

and `curl http://127.0.0.1:9200/_nodes/process?pretty | grep mlockall` gives:

[code]

https://www.ela

[2015-09-14 11:15] mrdavidlaing opened #182 "Remove ingestor_lumberjack"
We've had reliability problems with `logstash-forwarder` -> `ingestor_lumberjack`; and have stopped using it in favour of shipping via syslog to `ingestor_lumberjack`.

We'd like to remove `ingestor_lumberjack` - please shout if you need it

[2015-09-14 11:43] dpb587 commented on #182
+1

[2015-09-14 15:06] axelaris opened #183 "Kibana3 as a plugin"
Hi guys,
do we really need Kibana 3 as a ElasticSearch [plugin](https://github.com/logsearch/logsearch-boshrelease/blob/develop/packages/elasticsearch/packaging#L13-L17) since we have Kibana 4 there as a separate [package](https://github.com/logsearch/logsearch-boshrelease/blob/develop/packages/kibana/spec#L5-L6)?

[2015-09-28 10:07] fbonelle opened #187 "elasticsearch_autoscale jobs currently using static IP allocation, but should be using dynamic IP allocation ?"
Hi,

Why elasticsearch_autoscale jobs are using static IP? As I understand this job, it's used to increase the number of elasticsearch nodes easily. Parser nodes are using bosh dynamic allocation and it makes it easier to increase the number of jobs.

Thanks

[2015-10-05 16:22] dpb587 commented on #183
Depends on the installation, I guess. Personally I'm still using Kibana3 for many things, so would prefer it stick around. Is having it around causing problems in your deployments though? If so, I guess we could drop it and those needing it can list it as a remote plugin in their deployment properties. This question was also asked in #165, so maybe I'm missing something.

[2015-10-05 16:31] dpb587 commented on #181
I think the best first step would be adding `ulimit -l unlimited` to the control scripts, similar to how we raise the [file limit](https://github.com/logsearch/logsearch-boshrelease/blob/33d3d4e6c853504b0d87d0044d3c92f9d0166b9f/jobs/elasticsearch/templates/bin/elasticsearch_ctl#L61).

It's not a good idea to disable swap unless you have a really, really good understanding of what's happening on th

[2015-10-05 16:57] dpb587 commented on #177
Hrm, agreed; it should not require internet access.

[2015-10-05 17:02] dpb587 commented on #187
I don't think there's a particular reason - those sample templates were composed from some of our original test deployments a long time ago. I guess it depends on your deployment strategies as well.

[2015-10-07 09:52] axelaris commented on #183
Two Kibana's just brings us a bit of mess here.
It's not an urgent issue, but in long term perspective I believe one of them should be removed.

[2015-10-08 11:23] mrdavidlaing commented on #177
I've received similar bug reports from other users.

@bonzofenix; do you have any idea why this is happening.  I know you guys deploy to an environment with no 'net access; so I'm surprised you haven't bumped into this.

I'm also confused as to why the error is happening - the install runs:

[code]

followed by

[code]

Surely urllib3-1.8.3 is >= 1.8 and < 2.0 ?

[2015-10-09 08:56] mrdavidlaing commented on #183
Kibana 3 doesn't work with Elasticsearch 2.0 so when we merge https://github.com/logsearch/logsearch-boshrelease/pull/171 we'll remove Kibana 3

[2015-10-12 14:23] ghost commented on #131
+1

[2015-10-12 14:28] ghost opened #189 "Broken `elasticsearch.indices.ttl_default` property"
The `elasticsearch.indices.ttl_default` property does not seem to work anymore.

It is still located in the elasticsearch `spec` file: https://github.com/logsearch/logsearch-boshrelease/blob/develop/jobs/elasticsearch/spec#L51
But it is not used in any of the templates: https://github.com/logsearch/logsearch-boshrelease/search?utf8=%E2%9C%93&q=ttl_default

It used to be part of the default Elastic

[2015-10-12 14:54] bonzofenix commented on #177
@mrdavidlaing sorry for the late response. the version is correct:

<img width="678" alt="screen shot 2015-10-12 at 11 47 45" src="https://cloud.githubusercontent.com/assets/317403/10430726/32714f42-70d7-11e5-800f-e7a76aa58c5b.png">

@fbonelle which stemcell are you using? We will try to reproduce it.

@bonzofenix && @grayisgreat

[2015-10-12 16:34] fbonelle commented on #177
@bonzofenix Now, we are on stemcell 3074, 3093 & 3098

[2015-10-12 16:35] bonzofenix commented on #177
on which infrastructure?

[2015-10-12 16:50] fbonelle commented on #177
@bonzofenix It's on VCloud

[2015-10-13 00:05] dpb587 commented on #189
The property was removed in #112 when we stripped deployment-specific properties, but I apparently forgot to remove it in the spec file. You can continue to configure the [TTL settings](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-ttl-field.html#_note_on_documents_expiration) with the `elasticsearch.config_options` property (and including the `indices.ttl.interval`, if n

[2015-10-18 21:34] mrdavidlaing commented on #177
I was able to reproduce this on AWS:

[code]

when I disabled internet access for the curator compilation vm

[2015-10-18 21:47] mrdavidlaing commented on #177
@fbonelle, @bonzofenix - I think 4ddbe43 addresses this problem - by explicitly telling `pip` not to use the pypi, and which folder to search for dependencies in.

Please could you give this a test in your environments.

PS - you might want to cherry-pick this change onto https://github.com/logsearch/logsearch-boshrelease/tree/v23.0.0, since there are a fair amount of unrelated changes on `develop

[2015-10-19 06:40] mrdavidlaing opened #191 "Allow disabling default elasticsearch output for parser job"
For those cases where you want to specify all your own outputs via `logstash_filter.outputs`

[2015-10-19 14:56] simonjohansson commented on #191
Will this also include to split out elasaticsearch itself from the parser job and reuse the elasticsearch job that is already in the release?

Would be great if in the manifest we could say

[code]

so we get more flexibility.

As in our case we would not want to run ES directly on the parsers.

[2015-10-19 18:17] mrdavidlaing commented on #191
@simonjohansson If you set [`logstash_parser.use_local_elasticsearch:false`](https://github.com/logsearch/logsearch-boshrelease/blob/develop/jobs/parser/spec#L63), then the [local elasticsearch job isn't run on the parser node](https://github.com/logsearch/logsearch-boshrelease/blob/develop/jobs/parser/monit#L6)

Does that fulfil your requirement?

[2015-10-20 14:45] simonjohansson commented on #191
That would work!

[2015-10-20 14:48] mrdavidlaing commented on #191
Great

On Tuesday, 20 October 2015, Simon Johansson notifications@github.com
wrote:

##

David Laing
logsearch.io - build your own open source cloud logging cluster
http://davidlaing.com

[2015-10-20 15:09] simonjohansson commented on #191
Oh, as long as the elasticsearch output in https://github.com/logsearch/logsearch-boshrelease/blob/develop/jobs/parser/templates/config/input_and_output.conf.erb is disable-able. :)

[2015-12-15 13:00] mrdavidlaing opened #196 "Monit fails to detect when ingestor_syslog process stops listening on port 443"
If logstash detects a crash in the TCP input and shuts it down; logstash continues to run (an monit thinks everything is ok) even though logstash is no longer accepting traffic.

This should be detected as a failure condition by monit  and logstash should be restarted.

[2015-12-16 04:34] dpb587 commented on #196
Interesting; haven't experienced this yet. Maybe https://mmonit.com/monit/documentation/monit.html#CONNECTION-TESTING will be useful as a workaround?

[2015-12-16 09:16] mrdavidlaing commented on #196
Yep - that is the plan.

Although worth mentioning that BOSH uses monit 5.2 and those docs are for monit 5.15.  So we'll need to double check the syntax against `man monit`

[2016-01-29 12:35] gerhard opened #200 "Use IANA registered syslog ports for the syslog ingestor"
According to the [Service Name and Transport Protocol Port Number Registry](http://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml?search=syslog), syslog is expected to listen on `514 UDP` and `6514 TCP+TLS`.

I would very much like to see this bosh release adhering to the IANA RFCs.

[2016-02-01 09:03] #183 closed, assigned to nobody

[2016-02-04 14:31] axelaris opened #201 "Failed parsing date from field"
This filter: https://github.com/logsearch/logsearch-boshrelease/blob/develop/src/logsearch-config/src/logstash-filters/if_it_looks_like_json.conf#L18-L23

causes a lot of parsing failures in the log:

[code]

I suggest to remove that block or, at least, replace `timestamp` with `time`, because `time` is in correct format.

[2016-02-05 13:09] cromega commented on #201
We found that filter rather useful. Ideas for improving it (or PR to fix it) are more than welcome, though.

[2016-02-26 13:45] voelzmo opened #209 "Drain scripts waiting for green cluster status are dangerous"
I recently discovered that you added drain scripts for elasticsearch at some point in time. How they're implemented is kind of dangerous, and here is why:
- your drain scripts wait for a `green` elasticsearch cluster status
- the agent executes drain scripts _forever_, there is _no_ timeout

So guess what happens when you want to repair a broken elasticsearch cluster with a `bosh deploy`? The drai

[2016-02-26 14:49] ghost commented on #209
To add to @voelzmo , it seems also that the drain script disables allocations, which are reenabled only once a node is back up (in the ctl script). This means that if you downscale the cluster (where the node will not return) and are not aware of this, the cluster will remain locked and unusable.

I believe the idea behind this script was to prevent a massive rellocation of data during an update (

[2016-02-26 23:43] cromega commented on #209
@voelzmo, @momchil-sap: we are ware of the problems.

We completely reworked the data node upgrade process, the changes are waiting for a new feature to be added to BOSH which is expected to be released with one of the next few releases, we are hoping within a few weeks.

[2016-02-27 07:25] voelzmo commented on #209
@cromega Thanks for explaining the rationale behind this. Out of curiosity: which feature would that be that you're waiting for?

[2016-02-27 12:31] cromega commented on #209
@voelzmo: the ability to run post-deploy scripts

[2016-02-27 20:29] voelzmo commented on #209
Ah nice, that is on the `develop` branch already, so the next release should probably have it :)

[2016-02-29 14:36] mrdavidlaing commented on #73
Due to the high operational overhead, we won't be including Kafka in this release

[2016-02-29 14:36] #73 closed, assigned to nobody

[2016-02-29 14:37] mrdavidlaing commented on #74
Multi-tenancy won't be implemented in the core logsearch-boshrelease.

Some approaches to multi-tenancy are being experimented with in the https://github.com/logsearch/logsearch-for-cloudfoundry addon

[2016-02-29 14:37] #74 closed, assigned to nobody

[2016-03-03 16:34] mrdavidlaing commented on #209
@voelzmo - The next release - v201 - will

(a) Disable shard allocations at the beginning of a deploy
(b) Have an errand - `bosh run errand enable-shard-allocation` to re-enable then after a deploy has finished

As soon as BOSH releases with post-deploy scripts, (b) will be turned into a  post-deploy scripts.

Hope that helps; and thanks for your thoughts!

[2016-03-03 16:34] #209 closed, assigned to nobody

[2016-03-03 17:01] dpb587 commented on #209
Does fully disabling allocations prevent indices from being created if log
messages with new dates/times come through, potentially causing data loss
until re-enabling?

On Thursday, March 3, 2016, David Laing notifications@github.com wrote:

##

Danny Berger
https://dpb587.me

[2016-03-03 17:25] mrdavidlaing commented on #209
@dpb587 - Bummer; you are right.

During a deploy, attempts to create new indicies will fail, eg:

[code]

Indexing to existing indices continue to work during the deploy, as do searches.

@cromega, @ablease - thoughts?

[2016-03-03 17:37] ablease commented on #209
We can experiment with disabling replica allocations only. I have a feeling that will impact recovery time after a deploy on larger clusters though.

I think there will be a trade off that comes down to how people manage their clusters.
If you have big indices, then you want to disable shard allocation.
If you have small indices and create many per day, then you might be able to live without disab

[2016-03-07 14:00] mrdavidlaing opened #210 "Ensure new indexes can be created during depoyment"
Following on from the [known limitations]https://github.com/logsearch/logsearch-boshrelease/releases/tag/v201.0.0#known-limitations) in [v201](https://github.com/logsearch/logsearch-boshrelease/releases/tag/v201.0.0) and the discussion at #209 ...

As of v201, [shard allocation is disabled](https://github.com/logsearch/logsearch-boshrelease/blob/v201.0.0/jobs/elasticsearch/templates/bin/drain.erb#

[2016-03-07 15:29] mrdavidlaing commented on #210
@voelzmo, @dpb587 - Any thoughts on how we should proceed?

[2016-03-07 21:06] dpb587 commented on #210
Might also want to experiment with cluster.routing.allocation.cluster_concurrent_rebalance and other throttling settings. Reducing pre-deploy, resetting post-deploy. By setting them extremely low, you'd effectively put the rebalancing on pause, but still allow new primaries+replicas to be allocated as necessary. Used it a few times at cityindex. Important to note that index and shard size is a fac

[2016-03-08 11:25] mrdavidlaing commented on #210
@dpb587 Excellent points; thank you.  Looks like we have some experimenting to do with `cluster.routing.allocation.cluster_concurrent_rebalance`

We're considering _scale down_ as a special case, and attempting to [document the gotchas](https://github.com/logsearch/logsearch-boshrelease/blob/develop/docs/running_the_cluster.md#scaling-the-cluster-down).

We're also telling people to not have more

[2016-03-08 17:59] mrdavidlaing opened #211 "New ticket to check gitbot integration"
Hello Tracker!

[2016-03-09 17:52] #211 closed, assigned to nobody

[2016-03-10 10:18] mrdavidlaing opened #213 "cf-gitbot integration test"
Hello Tracker!

[2016-03-10 10:19] mrdavidlaing commented on #213
A comment added in GitHub Issues

[2016-03-10 10:22] #213 closed, assigned to nobody

[2016-03-21 15:53] tomsherrod opened #218 "cluster_monitor?"
Is cluster_monitor a new addition?
When generating the yml, cluster_monitor is missing for the openstack example.
I added it in the stub and deploy.
cluster_monitor fails to run after update.
Before debugging further, is there a release or tag that should be used for stable?
I went with v201.0.9 tag/checkout.

Many thanks.

[2016-03-21 16:18] tomsherrod commented on #218
The nats_to_syslog job is setting nats-uri: nats://nats:nats-password@10.0.0.6:4222
10.0.0.6 is NOT part of the mainfest.

What job/instance would be considered the nats host?

Thanks,
Tom

[2016-03-21 19:30] cromega commented on #218
@tomsherrod: yes, the cluster monitor is a relatively new addition. It is a VM that gathers metrics from the other logsearch VMs.

The default target of the nats_to_syslog job is 10.0.0.6 which is the default IP of the BOSH director. Running a NATS client subscribing to specific messages is how the cluster_monitor gathers its data. In your deployment point it to whatever the IP of the BOSH directo

[2016-03-22 02:07] tomsherrod opened #219 "openstack stub, no haproxy?"
The openstack example stub doesn't include an haproxy.
Is this intentional? If so, the only floating/external ip is for the ingestor. How do you reach kibana?

Thanks.

[2016-03-23 10:11] cromega commented on #219
@tomsherrod: The openstack templates are not up-to-date with latest changes as we don't actually run the release on it nowadays. It should include the haproxy.

If you happen to use the release on openstack feel free add some missing bits and send a PR. Thanks

[2016-03-23 15:21] tomsherrod commented on #218
That worked.

[2016-03-23 15:21] #218 closed, assigned to nobody

[2016-03-23 15:22] tomsherrod commented on #218
Worked after pointing to correct director.

[2016-03-23 15:26] tomsherrod commented on #219
I'm working my way to that point. I hesitate to do a PR when I have yet to get it working.
I did get an haproxy up. I find something getting pushed in and resulting with fail/syslog_standard/_grokparsefailure, with no other configuration.
Pointers in debugging?

[2016-03-24 10:18] cromega commented on #219
@tomsherrod: Umm, that's one of those things...

We also noticed that even without any components actually configured to send logs to the ingestor there are some hits in kibana which don't look like normal logs and they can't be parsed properly. We have yet to get to the bottom of if.

To test your configuration just point your deployments at the haproxy ingestor port and confirm that it works.

[2016-03-29 14:24] tomsherrod commented on #219
Got it working.

[2016-03-29 14:24] #219 closed, assigned to nobody

[2016-03-29 14:26] tomsherrod opened #220 "Latest version failing on rabbitmq upgrade"
logsearch-boshrelease-201.0.11.tgz

Failing to deploy with error below:
Action Failed get_task: Task 1d36b62b-6752-49fc-7544-6a2a086f4e32 result: Compiling package logstash: Running packaging script: Command exited with 1; Stdout: You are updating logstash-input-rabbitmq to a new version 4.0.1, which may not be compatible with 3.1.3. are you sure you want to proceed (Y/N)?
, Stderr: + set -u
- mkd

[2016-03-29 19:26] tomsherrod commented on #220
I commented out the TEMP fix in packages/logstash/packaging

# TEMP fix for RabbitMQ plugin issue

# https://github.com/elastic/logstash/issues/4343

#$BOSH_INSTALL_TARGET/bin/plugin update logstash-input-rabbitmq

Created release. Deployed.
Smoke test ran successfully.

[2016-03-29 19:26] #220 closed, assigned to nobody

[2016-03-30 11:11] cromega opened #221 "new deployment has some funny logs"
A fresh LogSearch deployment without any other components being pointed at its ingestor shows a few logs every minute. The logs seem to be erroneous, syslog_standard fails to parse them.

[2016-04-01 13:01] HristoDobchev opened #222 "Elasticsearch config does not recover after bulk operation failure"
Hi,

As part of the of the v200.0.0 logsearch-boshrelease а job called elasticsearch_config was introduced.
It inserts data into elasticsearch.
The problem is that it waits for the cluster to be in green state, then inserts the data and expects a response code within the interval [200,300).
Because it uses the _bulk api of elasticsearch for data insertion, it gets 200 although the insertion was no

[2016-04-04 16:42] ablease commented on #221
Fixed in https://github.com/logsearch/logsearch-boshrelease/releases/tag/v201.0.15

[2016-04-04 16:42] #221 closed, assigned to nobody

[2016-04-05 16:45] ablease commented on #222
Hey Hristo, thanks for bringing this up.

We discussed the elasticsearch_config job and the bulk request operation at length today and have come to some conclusions.

We think the bulk request functionality would be better suited to a bosh errand, since we think the most likely use case for it, is to edit indices only when the cluster is stable. For example adding kibana dashboards to the .kibana

[2016-04-19 10:17] mrdavidlaing commented on #222
@HristoDobchev,

To close this off - we've decided that its best to remove the bulk_request functionality from the elasticsearch_config job; since the isn't a decent way to report errors.

Rather, our advise is to create a separate logsearch-addon release that contains an errand to issue your specific bulk requests that you co-locate with the rest of your logsearch deployment.

Full instructions a

[2016-04-19 10:17] #222 closed, assigned to nobody

[2016-04-19 12:52] #189 closed, assigned to nobody

[2016-04-19 12:53] #182 closed, assigned to nobody

[2016-04-19 12:55] kirederik commented on #201
As part of [release 201.0.12](https://github.com/logsearch/logsearch-boshrelease/releases/tag/v201.0.12) we made this filter optional (refer to the release notes for instructions).

Does this solve this issue? Can we close it?

Thanks

[2016-04-19 13:22] axelaris commented on #201
Yes, thank you

[2016-04-19 13:22] #201 closed, assigned to nobody

[2016-04-19 13:35] olzorenko opened #225 "YAML error while generating deployment manifest"
Hello All!

I've faced an issue while deploying logsearch-boshrelease to vsphere IaaS. I've tried to google it but with no lack.

Here are my steps.
1. I've uploaded release by using following command:

`bosh upload release https://bosh.io/d/github.com/logsearch/logsearch-boshrelease`

I see it in bosh releases output:

[code]
1. Then I've cloned a repo:

`git clone https://github.com/logsearch/lo

[2016-04-19 14:55] kirederik commented on #225
@olzorenko: We fixed the vsphere manifest generation bits - https://github.com/logsearch/logsearch-boshrelease/commit/81a70fed9ed5fae147de8355853f1e824a9dd78f. We mostly deal with AWS so the vsphere yamls get out-of-date every now and then. If you have suggestions to improve the vsphere defaults, feel free to send a PR.

[2016-04-19 16:07] hannayurkevich opened #226 "Rename haproxy job"
Hi guys,

I think it makes sense to use more specific name for `haproxy` job. Something like e.g. `logsearch-haproxy`. Then use this specific name when parsing logs from the job:

`if [syslog_program] == "haproxy" {` //  **use more specific name here**
 `<%= File.read('src/logstash-filters/snippets/haproxy.conf').gsub(/^/, '  ') %>`
`}`
(see https://github.com/logsearch/logsearch-boshrelease/blob/

[2016-04-20 08:34] #225 closed, assigned to nobody

[2016-04-20 10:59] mrdavidlaing commented on #226
@hannayurkevich - we agree; haproxy is
1. too implementation specific - it should be called `router`; and
2. too generic.

What do you think about renaming all the jobs to ensure they are easily identifiable as "logsearch" jobs?

eg:

[code]

[2016-04-20 12:54] hannayurkevich commented on #226
@mrdavidlaing, this seems really reasonable to me. Thank you!

[2016-04-22 11:04] kirederik commented on #226
We tried to rename all jobs to `ls-<job name>` and found a couple of issues:
1. Bosh tries to spin up the new job before tear down the old one, which causes ip conflicts.
2. Bosh doesn't treat the ls-jobs as "renamed jobs" but as new jobs, which will cause data loss (new disks will be attached to the ls-jobs).

It might be possible to rename the jobs without losing data, by using the `bosh attach

[2016-04-22 11:08] hannayurkevich commented on #226
@kirederik,

Could you please change parsing rules for `haproxy` as well to reflect new job name?

Thank you in advance.

[2016-04-25 14:02] cromega commented on #226
@hannayurkevich, @mrdavidlaing: This issue made us realise something that may serve as an important input when we discuss how to configure the parsing rules. We have some discussions lined up about that.

Essentially, what you wanted, is to somehow make our default haproxy parsing rule to **not** process the logs coming from your haproxy, is that correct?

We think that there is no way to provide

[2016-04-26 10:15] kirederik commented on #226
@hannayurkevich As part of 2cac0366ca3e5e5bd37417e9634f3902cee5ebe9, we moved the haproxy parsing rule to the cluster_monitor job. As a result, we will not apply the haproxy parsing rule on the regular cluster.

We also renamed the default syslog program name from `haproxy` to `ls-router`, allowing us to change the parsing rule.

What do you think about this? Can we close this issue?

Thanks!

[2016-04-26 15:42] hannayurkevich commented on #226
@kirederik,

Thank you for the changes! They fix the problem I described, yeah.

The is only one thing. It's can be confusing that you mix up "haproxy" and "ls-router" names.
I mean It would be great if you rename `haproxy.conf` (and corresponding test files),`[haproxy][*]` fields, `haproxy` tag etc. and use more specific names for them too (something related to **ls-router**). This doesn't actual

[2016-04-26 19:15] cromega commented on #226
@hannayurkevich: we thought about it but in the end ls-router is just haproxy, so what else to call a parsing rule that understand that log format if not haproxy?

[2016-04-27 11:10] hannayurkevich commented on #226
@cromega Yeah, it sounds reasonable.

Guys, I would really appreciate it if you make a release including the fix you've made.

And I think the issue can be closed. Many thanks!

[2016-04-27 11:35] mrdavidlaing commented on #226
@hannayurkevich - Glad we've reached a point that solves your issue.

I'll schedule a release to bosh.io for the end of this week.

[2016-04-27 11:35] #226 closed, assigned to nobody

[2016-04-29 13:38] mrdavidlaing commented on #226
@hannayurkevich - This fix is included in `logsearch v202.0.0` - http://bosh.io/releases/github.com/logsearch/logsearch-boshrelease?version=202.0.0

[2016-04-29 15:55] hannayurkevich commented on #226
@mrdavidlaing

Thank you very much!

[2016-05-08 05:49] vfonsecapv opened #227 "Wich pattern i need to use on kibana settings?"
Thanks for any help!

[2016-05-08 11:32] cromega commented on #227
@vfonsecapv: `logstash-*` unless you configured something custom.

https://github.com/logsearch/logsearch-boshrelease/blob/develop/jobs/parser/spec#L56

[2016-05-09 11:01] cromega commented on #227
@vfonsecapv: does this answer your question?

[2016-05-09 12:29] vfonsecapv commented on #227
I figured that after the deployment he would already have the logs of the machines managed by bosh. I need to perform a new deployment of Cloud Foundry and Diego, pointing to the parser?

Is there any material that can explain how to do this? I used / logsearch-for-CloudFoundry, but it has many problems and I want to try it without him.

I appreciate the help!

[2016-05-12 16:15] kirederik commented on #227
@vfonsecapv

You need to configure your CF deployment to forward logs to the ingestor. You have to set the `syslog_daemon_config` property in your CF deployment manifest:

[code]

and redeploy CF

Does this solve your question/the issue?

[2016-05-13 11:00] vfonsecapv commented on #227
Thanks guys! This solve my problem. 👍

[2016-05-13 11:00] #227 closed, assigned to nobody

[2016-05-14 02:52] cppforlife opened #230 "remove v=201.0.0 final release since it cannot be built"
Blobstore error: Could not fetch object, 403/....

[2016-05-16 14:02] kirederik commented on #230
Hi @cppforlife,

We tried to create the 201.0.0 release from the repository and it built fine.
We moved our blobstore to another bucket and it might have caused the issue (which seems to be fixed now).

Thanks!

[2016-05-16 14:02] #230 closed, assigned to nobody

[2016-06-02 19:41] mrdavidlaing opened #233 "Ingest BOSH NATs messages for all BOSH deployed VMs"
Lets add a ingestor-bosh-nats job to the default templates to grab all the BOSH healthcheck message from BOSH deployed VMs.

We can do this in a similar way to how we grab just the logseach BOSH healthcheck messages in the cluster_monitor VM, ie:

[code]

[2016-06-08 17:31] t2sa opened #234 "Template setting to control shard count"
Request for template setting to control shard count. Thx.

[2016-06-13 14:41] kirederik commented on #234
Hi @t2sa

To change the default number of shards (5) and replicas (1), update the maintenance job in your stub with:

[code]

Thanks!

[2016-06-22 17:57] poy opened #236 "release logsearch-latest.yml points to old version"
It looks like https://github.com/logsearch/logsearch-boshrelease/blob/develop/releases/logsearch-latest.yml points to version 22. However the latest version (as of writing this issue) is 203.

[2016-06-27 13:51] adasolcan commented on #236
@apoydence thanks! we deleted the file.

[2016-06-27 13:51] #236 closed, assigned to nobody

[2016-07-06 09:14] voelzmo commented on #210
@mrdavidlaing any updates on the topic in the meanwhile? Is it still the case that I have to run an errand to re-enable shard-allocation after a successful deployment?

[2016-07-07 18:26] t2sa opened #238 "Curator template"
**File:** templates/logsearch-jobs.yml

**Line 76:**

[code]

**Line 226:**

[code]

[2016-07-07 21:52] mrdavidlaing commented on #210
@voelzmo You still need to run the `re-enable shard-allocation` errand post deployment

[2016-07-07 22:02] mrdavidlaing commented on #173
Closing since no longer relevant

[2016-07-07 22:02] #173 closed, assigned to nobody

[2016-07-07 22:38] t2sa commented on #234
Thank you @kirederik

[2016-07-07 22:38] #234 closed, assigned to nobody

[2016-07-08 13:10] cromega commented on #238
@t2sa: Yeah, we know about a few inconsistencies in how we configure some jobs, we know a few messy corners, we may as well start cleaning up with this one. Thanks for pointing it out!

[2016-07-08 13:15] cromega commented on #238
@t2sa: are you sure you're looking at the latest version of logsearch-jobs.yml? We fixed [line 76](https://github.com/logsearch/logsearch-boshrelease/commit/92bacc598bfeb7fa191d8c613706ff994b723872)
 but couldn't find any other occurences of elasticsearch_host

[2016-07-08 16:44] t2sa commented on #238
@cromega I might have looked at an older version of logsearch-jobs.yml. Thank you for fixing line 76. Noticed you took care of the port too, thank you.

[2016-07-08 20:55] #238 closed, assigned to nobody

[2016-08-29 16:43] ehaydenr opened #244 "BOSH Cloud Config"
I appreciate the work towards building templates for deployment manifests. I'm fairly new to BOSH. I've successfully deployed concourse ci on AWS with BOSH using cloud-config. I'm trying to deploy logsearch, but I'm using the newer v2 manifest format. Is there any plan to document manifest creation that makes use of the new cloud-config format?

[2016-08-31 00:58] 7CHANHO opened #245 "Configuring Redis in Manifest File"
I added 'maxmemory-policy' attribute of redis in manifest file as follow:
##### [logsearch.yml]

[code]

But, it is not applied on queue vm.

[code]

I found one thing strange in the redis configuration file.
##### [/var/vcap/jobs/queue/config/redis.conf]

[code]

There are only two 'maxmemory' attribute. The 'maxmemory-policy' attribute is nowhere in configuration file.

So I made changes as foll

[2016-08-31 08:24] cromega commented on #245
@7CHANHO oops, good catch with the sed bug. It should replace the maxmemory line only, definitely not maxmemory-policy.

The reason the maxmemory setting is replaced by the redis_ctl script is because this is the only way to specify the memory limit dynamically, BOSH doesn't know the amount of memory available to the VM during template generation. This is how maxmemory can be specified as a percen

[2016-09-01 04:19] 7CHANHO commented on #245
@cromega
Thank you for your answers :)
I agree with your advice. So, I made change as follow:

##### [/logsearch-boshrelease/jobs/queue/templates/bin/redis_ctl]

[code]

As you have mentioned,  I modified only sed expression in 'redis_ctl' file, without changing any other parts. In this way, I got the same results. How about this?

@mrdavidlaing
Please let me know a link to the contributor agreeme

[2016-09-01 17:47] mrdavidlaing commented on #245
@7CHANHO - Contributor license details here - https://github.com/logsearch/licensing

[2016-09-02 08:18] mrdavidlaing commented on #245
@cromega - Good to merge from a CLA perspective

[2016-09-02 09:09] cromega commented on #245
@mrdavidlaing cool! the only problem is that this is not a PR :)

@7CHANHO would you issue a pull-request with the fix and the maxmemory-policy setting? looks like you've figured it all out.

[2016-09-08 16:06] bonzofenix opened #247 "no tag or release for version 204.0.0"
Our concourse resource is returning version 204.0.0 but i do not seem to find a github release or a git tag for it in the repo.

[2016-09-09 00:14] #245 closed, assigned to nobody

[2016-09-12 11:03] ivan-sap opened #248 "Parser wait for template functionality does not work correctly"
Parser wait for template functionality does not work correctly. It **does not** wait for _any_ template, because of bogus wait implementation.

The following code should wait for specific template to be available in ElasticSearch [1]

[code]

But actually the `[ $? ] && break` statement is fully evaluated, which causes the loop to break, even if the `curl` exited with a non-zero status. Changing t

[2016-09-13 11:02] ivan-sap commented on #248
PR #249 proposes a fix for the issue. However, if the template is not found within 30 seconds, Monit will give up on starting the process and report an error.

From the Monit documentation:

[code]

Do you think 30 seconds are sufficient for this , or we should add `with TIMEOUT` option to the Monit start command?

[2016-09-23 03:02] jmcarp commented on #210
Just curious--could re-enabling shard allocation be moved to a post-deploy script instead of an errand so that operators don't have to run the errand manually or add it to CI?

[2016-09-23 16:39] jmcarp commented on #247
It looks like some commits around 204 were reverted--should that release not be used?

[2016-09-24 06:43] mrdavidlaing commented on #210
Joshua,

Definately - we're just waiting for that functionality to become widely
available ( ie, people have upgraded their BOSHes )

On 23 September 2016 at 04:02, Joshua Carp notifications@github.com wrote:

##

David Laing
logsearch.io - build your own open source cloud logging cluster
http://davidlaing.com

[2016-09-24 07:13] voelzmo commented on #210
Even when people upgraded their Directors: keep in mind that post-deploy is still optional and disabled by default: http://bosh.io/jobs/director?source=github.com/cloudfoundry/bosh&version=257.15#p=director.enable_post_deploy

[2016-10-10 15:11] erboucherie opened #254 "logstash parser configuration file incorrect for nats-to-syslog program"
The configuration file **bosh_nats.conf** is incorrect as it references the program **nats-to-syslog** instead of  **nats_to_syslog** .

[2016-10-17 19:15] t2sa opened #255 "smoke-test configurable timeout"
Request to make the 600 second smoke-test timeout to be configurable value during deployment.

logsearch-boshrelease/jobs/smoke_tests/templates/run.sh
Line 19: Make the 600 configurable.

[2016-11-04 17:18] egurnov opened #256 "Cannot create bosh release"
Hi everyone,

when I try to build a bosh release from v203.0.0, I keep getting HTTP 403 for haproxy package:
[code]

How I got here:
[code]

How do I fix this?

Regards,
Alexander Egurnov

[2016-11-07 19:14] bonzofenix opened #257 "Upgrading to ES and Logstash 5.0"
At Allstate we are interested in some Logstash filters fixes that were introduce in v5.0. We were wondering if it would be ok and which are the chances of getting a PR merged for this if we were to develop it.

@mrdavidlaing

[2016-11-07 22:09] supp429 commented on #256
+1 we have been experiencing the same error.

[2016-11-07 22:13] bonzofenix commented on #257
My guess is that some blobs where not migrated property to the new blobstore. The other one does not seem to be public anymore. https://github.com/logsearch/logsearch-boshrelease/commit/adc57069c6b71f79132e85559bbc22fe36db642d#diff-5ccaee0392b76270e95d5a267c032e14R5

[2016-11-07 23:33] bonzofenix commented on #256
My guess is that some blobs where not migrated property to the new blobstore. The other one does not seem to be public anymore. https://github.com/logsearch/logsearch-boshrelease/commit/adc57069c6b71f79132e85559bbc22fe36db642d#diff-5ccaee0392b76270e95d5a267c032e14R5

[2016-11-16 23:04] t2sa commented on #196
Tested something like this in monit and it worked fine. Hope this could be included in the next release.
if failed port 443 then restart

[2016-11-17 14:09] hannayurkevich commented on #254
The issue is now tracked in cloudfoundry-community as https://github.com/cloudfoundry-community/logsearch-boshrelease/issues/6.

[2016-11-17 19:07] cromega commented on #196
We had all sorts of issues with this. https://github.com/logsearch/logsearch-boshrelease/commit/468015a71e3b93605bc03a8c752b02de9f685730

[2016-12-12 14:27] nbari commented on #102
It is posible to write to multiple keys?

[code]

I want to test elk5 without breaking the current elk2 setup, so wondering how could I duplicate the indexes in order to test the new setup

[2016-12-12 15:31] cromega commented on #102
@nbari I haven't tried that setup but  it **should** work that way.

[2017-01-19 19:56] t2sa commented on #196
Seems to work great for our case. Hope this option could be provided as a configurable value for people that would like to keep it.

[2017-02-07 11:05] ihocho opened #260 "snapshot partial error"
Hi.

I got this error when i back a indices up using curator
2017-02-07 08:50:56,128 ERROR     Snapshot PARTIAL completed with state: PARTIAL

The command i executed is like this.
curator --host xxxx --port xxxx snapshot --repository s3_snapshot_backup --skip-repo-validation indices --older-than 1 --time-unit days --timestring '%Y.%m.%d' --prefix logstash

I have no idea how to resolve that.
I nee

[2017-03-17 07:43] StBurcher opened #261 "Action Failed get_task: Task result: 1 of 1 post-start scripts failed. Failed Jobs: elasticsearch."
Hi,

I cannot deploy logsearch 204.0.0+dev.0 on CF-250. During the deployment, bosh aborts with the following error.

[code]

Using Bosh SSH into the cluster_monitor. I can found the following line in the elasticsearch.stdout.log

[code]

All other logs in elastichsearch are empty.

Any Ideas?

[2017-03-17 07:44] #261 closed, assigned to nobody

[2022-01-05 16:06] #256 closed, assigned to nobody